%h1 Listing tour_participants

%p
  %b Tour:
  = @tour.title

%table
  %thead
    %tr
      %th Usuário
      %th Status
      %th
      %th
      
  %tbody
    - @participants.each do |participant|
      %tr
        %td= participant.user.name
        %td= t(participant.status)
        %td= link_to t('approve'), manage_tour_participant_approve_path(@tour, participant)
        %td= link_to t('refuse'), manage_tour_participant_refuse_path(@tour, participant)

%br

= link_to 'Tours', manage_tours_path
