= form_for [:manage, @tour] do |f|
  - if @tour.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tour.errors.count, "error")} prohibited this tour from being saved:"
      %ul
        - @tour.errors.full_messages.each do |msg|
          %li= msg

  .field
    %b
      = f.label :title, t('title')
    = f.text_field :title
  .field
    = f.label :tour_style_id, t('tourStyle')
    = f.collection_select(:tour_style_id, TourStyle.all, :id, :name, {:prompt => t('selectTourStyle')})
    %p.small
      -TourStyle.all.each do |t_style|
        %b
          = t_style.name
          \:
        = t_style.description
        \.
  .field
    = f.label :accommodation_id, t('accommodation')
    = f.collection_select(:accommodation_id, Accommodation.all, :id, :name, {:prompt => t('selectAccommodation')})
    %p.small
      -Accommodation.all.each do |acco|
        %b
          = acco.name
          \:
        = acco.description
        \.
  .field
    = f.label :description,t('description')
    = f.text_area :description, :class => 'froala', :rows => 40, :cols => 120
    %i
      Coloca aqui uma boa descrição do seu futuro trip. Ela ajuda muito encontrar parceiros certos
      quem buscam o mesmo nas montanhas.
  .field
    = f.label :duration,t('duration')
    = f.number_field :duration
    dias
  .field
    = f.label :check_in, t('check_in')
    = select_day Time.now, field_name: 'check_in_d', prefix: 'tour', prompt: 'Escolha um dia (opcional)'
    = select_month Time.now, field_name: 'check_in_m', prefix: 'tour'
    = select_year Time.now, field_name: 'check_in_y', prefix: 'tour'
    %p
      %i
        Caso não sabe ainda o dia certo do início do seu trip, basta escolher o mês e tbm o ano, óbvio =)
  .field
    = f.label :price, t('price')
    = f.text_field :price
    %i
      Já tem uma avaliação preliminar do seu orçamento diário? Coloca aki!
  - if current_user.admin?
    .field
      = f.label :published
      = f.check_box :published
  %p{:style => "margin-top 20px;"}

  %h3
    Destino
  .field
    = f.label :resort_category_ids
    = f.collection_select :resort_category_ids, ResortCategory.find(1).children, :id, :name, {}, multiple: true, style: 'width: 226px'
  .field
    = f.label :resort_ids
    = f.grouped_collection_select :resort_ids, ResortCategory.find(1).children, :resorts, :name, :id, :name, { include_blank: true }, multiple: true, style: 'width: 226px', data: { placeholder: 'Selecione um país' }

  %p{:style => "margin-top 20px;"}

  %h3 Gallery
  %i
    Algumas fotos da casa onde vai ficar? ou do seu trip anterior?
    Qualquer coisa ajudará na procura do seu parceiro favorito.
  %ul
  -unless @tour.gallery_images.all.count.zero?
    -@tour.gallery_images.all.each do |image|
      %li
        = image_tag image.image_url(:thumb).to_s
        = text_field_tag "gallery_images[name][#{image.id}]", image.name, {placeholder: 'name'}
        = text_field_tag "gallery_images[url][#{image.id}]", image.url, {placeholder: 'url'}
        = text_area_tag "gallery_images[description][#{image.id}]", image.description, size: '30x5'
        = check_box_tag "gallery_images[remove_image][#{image.id}]"
        = text_field_tag "gallery_images[order][#{image.id}]", image.order, {placeholder: 'order',size: 4}
  .field
    = f.label :add_gallery_images
    = f.file_field :add_gallery_images, :multiple => true, name: 'gallery_images[images][]'
  .actions
    = f.submit 'Save'
