%h1 Listing tours

%table
  %thead
    %tr
      %th Tour style
      %th Accommodation
      %th Title
      %th Description
      %th Whats included
      %th Duration
      %th Check in
      %th Image
      %th Price
      %th Published
      %th
      %th
      %th
      
  %tbody
    - @tours.each do |tour|
      %tr
        %td= tour.tour_style
        %td= tour.accommodation
        %td= tour.title
        %td= tour.description
        %td= tour.whats_included
        %td= tour.duration
        %td= tour.check_in
        %td= tour.image
        %td= tour.price
        %td= tour.published
        %td= link_to 'Show', [:manage, tour]
        %td= link_to 'Edit', edit_manage_tour_path(tour)
        %td= link_to 'Destroy', [:manage, tour], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Tour', new_manage_tour_path
