= form_for [@tour, @owner] do |f|
  - if @owner.errors.any?
    #error_explanation
      %h2= "#{pluralize(@owner.errors.count, "error")} prohibited this owner from being saved:"
      %ul
        - @owner.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :tour_id
    = f.text_field :tour_id
  .field
    = f.label :user_id
    = f.text_field :user_id
  .actions
    = f.submit 'Save'
