-content_for :top_section do
  .slider-field
    .index-slider
      .slide
        =link_to image_tag('newyear.jpg'), "http://zonaradical.com.br/tips/14"
        %p
          Voce tah em duvida inda aonde passar as ferias de Natal e Ano Novo?
          misturando uma boa festa com experiencia inedita e, claro, snowboarding radical?
          Aki temos nossas dicas.
    %span.tag Skiando no Ano Novo
      .slide
        = image_tag('slide-1.jpg')
        %p
          Snowboard é um dos esportes mais irados de se praticar. Tem coisa mais louca do que você descer uma montanha
          cheinha de neve com um “pedaço de madeira” preso nos pés?
          %br/
          Nós tentaremos neste site juntar o máximo das informações possíveis para você aprender o snowboarding, escolher os
          equipamentos certos e viajar pelo mundo inteiro desfrutando o máximo que o esporte radical pode te oferecer!
    %span.tag Bem vindo a Zona Radical
  .gallery-field
    .gallery-field-large
      =link_to image_tag(@resort.image_url(:thumb).to_s), resort_path(@resort)
      %p
        %b= @resort.name
        = strip_tags(@resort.level1_description.html_safe)[0..47].html_safe
        \. . .
      %span.tag=t('resorts')
    .gallery-field-small
      -if @tip.nil?
        =link_to image_tag('gallery-2.jpg'), main_app.tips_url
        %p
          %b Muitas Dicas
      -else
        =link_to image_tag(@tip.image_url(:thumb).to_s), tip_path(@tip)
        %p
          %strong
            =@tip.title
    .gallery-field-small.right
      = image_tag('gallery-3.jpg')
      %p Trips e ofertas
  .clear

.main-content
  .heading
    %h2 Últimas Notícias
  .news-slider
    .slide
      .news-item
        %a.img-wrap{:href => "#"}= image_tag('news-3.jpg')
        .details
          %a.date{:href => "#"} 10 de Julho, 2014
          %p
            Design estah tudo feito. Ainda esperando os programadores... =(
            Que vida dificil!
        .clear
    .slide
      .news-item
        %a.img-wrap{:href => "#"}= image_tag('news-2.jpg')
        .details
          %a.date{:href => "#"} 10 de Junho, 2014
          %p
            Os dominios registrados, ate em Portugal...
            Agora esperamos o designer e os programadores fazer o trabalho deles.
        .clear
    .slide
      .news-item
        %a.img-wrap{:href => "#"}= image_tag('news-1.jpg')
        .details
          %a.date{:href => "#"} 22 de maio, 2014
          %p
            Depois de mais algumas brejas e muita dicussao escolhemos o nome -
            = succeed "!!!" do
              %b Zona Radical
        .clear
    .slide
      .news-item
        %a.img-wrap{:href => "#"}= image_tag('breja.jpg')
        .details
          %a.date{:href => "#"} 14 de maio, 2014
          %p Nos reinumos para tomar uma breja e resolvemos (finalmente!) lancar um site para toda galera Snow do Brasil =)
        .clear
%aside
  .heading
    %h2 Fique conectado
  %ul.social-buttons
    %li
      %a.fb{:href => "https://www.facebook.com/zonaradicalbrasil", :target => "_blank"}
    %li
      %a.yt{:href => "http://instagram.com/zonaradicalbr"}
    %li
      %a.tw{:href => "https://twitter.com/ZonaRadicalBR"}
    %li
      %a.gp{:href => "#"}
    %li
      %a.rss{:href => "#"}
  .heading
    %h2 Facebook
  .fb-like-box{"data-colorscheme" => "light", "data-header" => "true", "data-href" => "https://www.facebook.com/zonaradicalbrasil", "data-show-border" => "true", "data-show-faces" => "true", "data-stream" => "false", "data-width" => "303"}
.clear
%a{:href => "https://plus.google.com/113457398355662495397", :rel => "publisher"} Google+