<section class="top-section">
  <div class="slider-field">
    <span class="tag">Bem vindo a Zona Radical</span>
    <div class="index-slider">
      <div class="slide"><%= image_tag('slide-1.jpg') %>
        <p><!-- <b>Jaja nos lancamos aki o nosso site Zona Radical</b>-->
          Snowboard é um dos esportes mais irados de se praticar. Tem coisa mais louca do que você descer uma montanha
          cheinha de neve com um “pedaço de madeira” preso nos pés? <br/>
          Nós tentaremos neste site juntar o máximo das informações possíveis para você aprender o snowboarding, escolher os
          equipamentos certos e viajar pelo mundo inteiro desfrutando o máximo que o esporte radical pode te oferecer!
        </p></div>
      <!-- <div class="slide"><img src="images/slide-2.jpg" alt="" /><p><b>Existem muitas variações das passagens</b>É um facto estabelecido de que um leitor é distraído pelo conteúdo legível de uma <br/>página quando analisa a sua mancha gráfica. </p></div>
      <div class="slide"><img src="images/slide-3.jpg" alt="" /><p><b>Existem muitas variações das passagens</b>É um facto estabelecido de que um leitor é distraído pelo conteúdo legível de uma <br/>página quando analisa a sua mancha gráfica. </p></div>
      <div class="slide"><img src="images/slide-4.jpg" alt="" /><p><b>Existem muitas variações das passagens</b>É um facto estabelecido de que um leitor é distraído pelo conteúdo legível de uma <br/>página quando analisa a sua mancha gráfica. </p></div>
      <div class="slide"><img src="images/slide-5.jpg" alt="" /><p><b>Existem muitas variações das passagens</b>É um facto estabelecido de que um leitor é distraído pelo conteúdo legível de uma <br/>página quando analisa a sua mancha gráfica. </p></div>
      -->
    </div><!-- end index-slider -->
  </div><!-- end slider-field -->
  <div class="gallery-field">
    <div class="gallery-field-large">
      <span class="tag">Estações</span>
      <%= image_tag('gallery-1.jpg') %>
      <p><b>Ski resorts de mundo inteiro</b>Para vc  saber onde praticar o snow! </p>
    </div>
    <div class="gallery-field-small">
      <%= image_tag('gallery-2.jpg') %>
      <p>Dicas basicas, e nao so</p>
    </div>
    <div class="gallery-field-small right">
      <%= image_tag('gallery-3.jpg') %>
      <p>Trips e ofertas</p>
    </div>
    <div class="clear"></div>
  </div><!-- end gallery-field -->
  <div class="clear"></div>
</section> <!-- end top-section -->
<section class="content">
  <div class="main-content">
    <div class="heading"><h2>Últimas Notícias</h2></div>
    <div class="news-slider">
      <div class="slide">
        <div class="news-item">
          <a href="#" class="img-wrap"><%= image_tag('news-1.jpg') %></a>
          <div class="details">
            <a href="#" class="date">22 de maio, 2014</a>
            <p>Depois de mais algumas brejas e muita dicussao escolhemos o nome - <b> Zona Radical</b>!!! Yohohohoho!</p>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <div class="slide">
        <div class="news-item">
          <a href="#" class="img-wrap"><%= image_tag('breja.jpg') %></a>
          <div class="details">
            <a href="#" class="date">14 de maio, 2014</a>
            <p>Nos reinumos para tomar uma breja e resolvemos (finalmente!) lancar um site para toda galera Snow do Brasil =)</p>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <!-- <div class="slide">
          <div class="news-item">
              <a href="#" class="img-wrap"><img src="images/news-2.jpg" alt="" /></a>
              <div class="details">
                  <a href="#" class="date">17 de maio, 2014</a>
                  <p>Existem muitas variações das passagens do Lorem Ipsum disponíveis, mas a maior parte sofreu alterações de alguma forma, pela injecção de humor, ou de palavras aleatórias que nem sequer parecem suficientemente credíveis...</p>
              </div>
              <div class="clear"></div>
          </div>
      </div>
      <div class="slide">
          <div class="news-item">
              <a href="#" class="img-wrap"><img src="images/news-3.jpg" alt="" /></a>
              <div class="details">
                  <a href="#" class="date">10 de maio, 2014</a>
                  <p>Existem muitas variações das passagens do Lorem Ipsum disponíveis, mas a maior parte sofreu alterações de alguma forma, pela injecção de humor, ou de palavras aleatórias que nem sequer parecem suficientemente credíveis...</p>
              </div>
              <div class="clear"></div>
          </div>
      </div>
      <div class="slide">
          <div class="news-item">
              <a href="#" class="img-wrap"><img src="images/news-1.jpg" alt="" /></a>
              <div class="details">
                  <a href="#" class="date">8 de maio, 2014</a>
                  <p>Existem muitas variações das passagens do Lorem Ipsum disponíveis, mas a maior parte sofreu alterações de alguma forma, pela injecção de humor, ou de palavras aleatórias que nem sequer parecem suficientemente credíveis...</p>
              </div>
              <div class="clear"></div>
          </div>
      </div>
      <div class="slide">
          <div class="news-item">
              <a href="#" class="img-wrap"><img src="images/news-2.jpg" alt="" /></a>
              <div class="details">
                  <a href="#" class="date">7 de maio, 2014</a>
                  <p>Existem muitas variações das passagens do Lorem Ipsum disponíveis, mas a maior parte sofreu alterações de alguma forma, pela injecção de humor, ou de palavras aleatórias que nem sequer parecem suficientemente credíveis...</p>
              </div>
              <div class="clear"></div>
          </div>
      </div>
      <div class="slide">
          <div class="news-item">
              <a href="#" class="img-wrap"><img src="images/news-3.jpg" alt="" /></a>
              <div class="details">
                  <a href="#" class="date">5 de maio, 2014</a>
                  <p>Existem muitas variações das passagens do Lorem Ipsum disponíveis, mas a maior parte sofreu alterações de alguma forma, pela injecção de humor, ou de palavras aleatórias que nem sequer parecem suficientemente credíveis...</p>
              </div>
              <div class="clear"></div>
          </div>
      </div> -->
    </div><!-- news-slider -->
    <!-- <div class="heading"><h2>as últimas dicas</h2><a href="#" class="all">Tudo</a></div>
    <ul class="item-list">
        <li>
            <a href="#" class="img-wrap"><img src="images/item-1.jpg" alt="" /></a>
            <div class="details">
                <a href="#" class="title">O pedaço mais habitual do Lorem Ipsum</a>
                <p>Existem muitas variações das passagens do Lorem Ipsum disponíveis, mas a maior parte sofreu alterações de alguma forma, pela injecção de humor, ou de palavras aleatórias que nem sequer...</p>
            </div>
            <div class="clear"></div>
        </li>
        <li>
            <a href="#" class="img-wrap"><img src="images/item-2.jpg" alt="" /></a>
            <div class="details">
                <a href="#" class="title">O Lorem Ipsum é um texto modelo</a>
                <p>Ao contrário da crença popular, o Lorem Ipsum não é simplesmente texto aleatório. Tem raízes numa peça de literatura clássica em Latim, de 45 AC, tornando-o com mais de 2000 anos. Richard McClintock, um...</p>
            </div>
            <div class="clear"></div>
        </li>
        <li>
            <a href="#" class="img-wrap"><img src="images/item-3.jpg" alt="" /></a>
            <div class="details">
                <a href="#" class="title">Desta forma, o Lorem Ipsum gerado</a>
                <p>Foi popularizada nos anos 60 com a disponibilização das folhas de Letraset, que continham passagens com Lorem Ipsum, e mais recentemente com os programas de publicação como o Aldus PageMaker...</p>
            </div>
            <div class="clear"></div>
        </li>
        <li>
            <a href="#" class="img-wrap"><img src="images/item-4.jpg" alt="" /></a>
            <div class="details">
                <a href="#" class="title">Várias versões têm evoluído ao longo dos anos</a>
                <p>Muitas ferramentas de publicação electrónica e editores de páginas web usam actualmente o Lorem Ipsum como o modelo de texto usado por omissão, e uma pesquisa por "lorem ipsum" irá encontrar muitos websites...</p>
            </div>
            <div class="clear"></div>
        </li> --
    </ul><!-- end item-list -- -->
  </div> <!-- end main-content -->
  <aside>
    <div id="ficConn"></div>
    <!--
    <div class="heading"><h2>Lugares</h2><a href="#" class="all">Tudo</a></div>
    <ul class="places-list">
        <li><a href="#"><img src="images/places-1.jpg" alt="" /></a></li>
        <li><a href="#"><img src="images/places-2.jpg" alt="" /></a></li>
        <li><a href="#"><img src="images/places-3.jpg" alt="" /></a></li>
        <li><a href="#"><img src="images/places-4.jpg" alt="" /></a></li>
    </ul><!-- end places-list --
    <div class="heading"><h2>Facebook</h2></div>
    <div class="fb-block"><img src="images/fb-block.jpg" alt="" /></div>
    <div class="advert-block"><img src="images/advert-img.jpg" alt="" /></div>
    -->
  </aside>
  <div class="clear"></div>
</section><!-- end content -->