-content_for :for_head do
  %title Zona Radical | Snowboard: como aprender, praticar e apreciar
  %meta{:name => "description",
    :content => "Junto apreciamos snowboard - o melhor esporte da neve! Aki temos tudo - noticias, guia das estações de ski, dicas, forum."}
  /* facebook METAS
  %meta{:property=> "og:description", :content => "Junto apreciamos snowboard - o melhor esporte da neve! Aki temos tudo - noticias, guia das estações de ski, dicas, forum."}
  %meta{:property=>"og:title", :content => "Zona Radical | Snowboard: como aprender, praticar e apreciar"}
  %meta{:property=>"og:url", :content => "http://zonaradical.com.br"}
  %meta{:property=> "og:image", :content=> "http://zonaradical.com.br/images/slide-1.jpg"}
  %meta{:property=>"og:type", :content =>"website"}
  /* Schema ORg
-if !mobile_device?
  -content_for :top_section do
    .slider-field{:itemscope => true, :itemtype => "http://schema.org/WebSite"}
      /* Index is the only page which does not start with .main-content
      %meta{:itemprop=>"keywords", :content => "snowboard, snowboarding, Brasil, Brazil, ski, prancha, montanha, escola de snowboard, praticar snowboard, aprender snowboard, estações de ski, tudo sobre equipo, Alpes"}
      %meta{:itemprop=>"about", :content => "Como pratricar snowboard morando no Brasil"}
      %meta{:itemprop=>"contentLocation", :content => "São Paulo, Brasil"}
      %meta{:itemprop=>"headline", :content => "Porque a vida precisa de mais emoção"}
      %meta{:itemprop=>"name", :content => "Zona Radical | Snowboard: como aprender, praticar e apreciar"}
      %meta{:itemprop=>"url", :content => "http://zonaradical.com.br"}
      %meta{:itemprop=> "image", :content=> "http://zonaradical.com.br/images/slide-1.jpg"}
      %meta{:itemprop=> "description", :content=> "Junto apreciamos snowboard - o melhor esporte da neve! Aki temos tudo - noticias, guia das estações de ski, dicas, forum."}
      .index-slider
        .slide
          =link_to image_tag('/images/vamo_junto1.jpg'), main_app.tours_path
          %p
            Laçamos no Zona Radical o "Vamo Junto" - um sistema para você poder encontrar o parceiro perfeito para sua viagem!
          %span.tag Vamo Junto
        .slide
          = link_to image_tag('/images/amador.jpg'), "http://zonaradical.com.br/image_galleries/23", :target =>"blank"
          %span.tag
            Amador Snowboard Festival
          %p
            Mais um evento de snowboard no pais. Agoro no "dry slope" do
            =link_to "Ski Mountain Park,", main_app.resorts_url+"/8"
            São Roque SP.
            Parabéns
            =link_to "Maira Kawasaki,", main_app.users_url+"/38"
            =link_to "Gabriel Irlandini,", main_app.users_url+"/33"
            Cleiton Luis, e todos participantes e organizadores!
        .slide
          = link_to image_tag('/images/parkday.jpg'), "https://www.facebook.com/media/set/?set=a.1443366775964237.1073741830.1433724256928489", :target =>"blank"
          %span.tag
            Park Day Brasil
          %p
            O primeiro campeonato de snowboard com neve de verdade no Brasil rolou com muito sucesso em
            =link_to "Snowland.", main_app.resorts_url+"/9"
            Parabéns
            =link_to "Isis Dassow", main_app.users_url+"/18"
            Gabriel Irlandini, e
            =link_to "Amaury Rousa", main_app.users_url+"/20"
            e todos participantes!
        .slide
          = image_tag('slide-1.jpg')
          %span.tag
            Bem vindo a Snowboard na Zona Radical
          %p
            %strong Snowboard
            é um dos esportes mais irados de se praticar. Tem coisa mais louca do que você descer uma montanha
            cheinha de neve com um “pedaço de madeira” preso nos pés?
            Nós tentaremos no Zona Radical juntar o máximo das informações para você aprender o
            %strong snowboarding,
            escolher os equipamentos certos e viajar pelas
            %strong estações de ski
            no mundo inteiro desfrutando o máximo que este esporte radical pode te oferecer!
    .gallery-field
      -unless @resort.nil?
        .gallery-field-large{:title=> t('resorts')}
          =link_to image_tag(@resort.image_url(:thumb).to_s), show_resort_path(@resort.resort_category, @resort)
          %p
            /* =truncate_html(@resort.level1_description, length: 47, omission: '...')
            =strip_tags(@resort.level1_description)[0..47].html_safe
            \...
          %span.tag
            Conhece mais uma estação
      -unless @tip.nil?
        .gallery-field-small{:title=> t('tips')}
          -if @tip.nil?
            =link_to image_tag('gallery-2.jpg', :alt=>"Dicas de snowboard"), main_app.tips_url
            %p
              %b Muitas Dicas
          -else
            =link_to image_tag(@tip.image_url(:thumb).to_s, :alt=>"Dicas de snowboard"), show_tip_path(@tip.tip_category, @tip)
            %p
              %strong
                /=truncate_html(@tip.title, length: 20, omission: '...')
                Dica aleatória
      .gallery-field-small.right
        -if !@gallery_image
          = link_to image_tag('gallery-3.jpg', :alt=>"Pacotes de snowboard"), main_app.tours_path
          %p Trips e ofertas
        - else
          - if @gallery_image.gallerable
            = link_to image_tag(@gallery_image.image_url), gallery_image_link(@gallery_image)
          -else
            = image_tag(@gallery_image.image_url)
          %p Última foto no ZR
    .clear
  -content_for :aside do
    %aside
      =render 'shared/aside/aside_social_buttons'
      =render 'shared/aside/aside_advert'
      =render 'shared/aside/aside_fb_like_box'
    .clear
.main-content
  -if mobile_device?
    .heading{:itemscope => true, :itemtype => "http://schema.org/WebSite"}
      %meta{:itemprop=>"keywords", :content => "snowboard, snowboarding, Brasil, Brazil, ski, prancha, montanha, escola de snowboard, praticar snowboard, aprender snowboard, estações de ski, tudo sobre equipo, Alpes"}
      %meta{:itemprop=>"about", :content => "Como pratricar snowboard morando no Brasil"}
      %meta{:itemprop=>"contentLocation", :content => "São Paulo, Brasil"}
      %meta{:itemprop=>"headline", :content => "Porque a vida precisa de mais emoção"}
      %meta{:itemprop=>"name", :content => "Zona Radical | Snowboard: como aprender, praticar e apreciar"}
      %meta{:itemprop=>"url", :content => "http://zonaradical.com.br"}
      %meta{:itemprop=> "image", :content=> "http://zonaradical.com.br/images/slide-1.jpg"}
      %meta{:itemprop=> "description", :content=> "Junto apreciamos snowboard - o melhor esporte da neve! Aki temos tudo - noticias, guia das estações de ski, dicas, forum."}
      %h1
        Bem vindo a Snowboard no Zona Radical
    = image_tag('slide-1.jpg', :style=>"margin-top=0px;")
    %p
      %strong Snowboard
      é um dos esportes mais irados de se praticar. Tem coisa mais louca do que você descer uma montanha
      cheinha de neve com um “pedaço de madeira” preso nos pés?
      Nós tentaremos no Zona Radical juntar o máximo das informações para você aprender o
      %strong snowboarding,
      escolher os equipamentos certos e viajar pelas
      %strong estações de ski
      no mundo inteiro desfrutando o máximo que este esporte radical pode te oferecer!
    .clear
  .heading
    %h1 últimas dicas de snowboard
    %a.all{:href => main_app.tips_url.to_s} Todas
  -unless @tipsOrdered.nil?
    %ul.item-list
      -@tipsOrdered.each do |tipsOrd|
        %li
          =link_to image_tag(tipsOrd.image_url(:big_thumb).to_s), show_tip_path(tipsOrd.tip_category, tipsOrd), class: "img-wrap"
          .details
            =link_to tipsOrd.title, show_tip_path(tipsOrd.tip_category, tipsOrd), class: "title"
            %p
              -if !tipsOrd.short_description.empty?
                =truncate_html(tipsOrd.short_description, length: 253, omission: '...')
              -else
                =truncate_html(tipsOrd.level1_description, length: 253, omission: '...')
              = link_to t('readMore'), show_tip_path(tipsOrd.tip_category, tipsOrd)
          .clear
  .heading
    %h1 Última Trip de snowboard
    %a.all{:href => main_app.tours_path.to_s} Todas
  -unless @trip.nil?
    %ul.stations-list
      %li
        =link_to tour_logo_img(@trip), tour_path(@trip), class: "img-wrap"
        =link_to @trip.title, tour_path(@trip), class: "title"
        .details
          %i.date
            %span{:title=> t('check_in')}
              = check_in_formatted(@trip)
            %b{:title=> t('country')}
              = @trip.resort_categories.collect(&:name).join(', ')
          %p
          -if !@trip.description.empty?
            =truncate_html(strip_tags(@trip.description.to_s), length: 253, omission: '...')
          = link_to t('readMore'), tour_path(@trip)
        .clear

