= form_for(@image_gallery, :html => {:multipart => true, :class => 'admin-form'}) do |f|
  - if @image_gallery.errors.any?
    #error_explanation
      %h2
        = pluralize(@image_gallery.errors.count, "error")
        prohibited this tip from being saved:
      %ul
        - @image_gallery.errors.full_messages.each do |message|
          %li= message
  .actions
    = f.submit
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :category
    = f.select(:media_image_category_id, nested_dropdown(MediaImageCategory.all.arrange))
  .field
    = f.label :description
    = f.text_area :description, :class => 'tinymce', :rows => 40, :cols => 120

  %h3 Gallery
  %ul
  -unless @image_gallery.gallery_images.all.count.zero?
    -@image_gallery.gallery_images.all.each do |image|
      %li
        = image_tag image.image_url(:thumb).to_s
        = text_field_tag "gallery_images[name][#{image.id}]", image.name, {placeholder: 'name'}
        = text_field_tag "gallery_images[url][#{image.id}]", image.url, {placeholder: 'url'}
        = text_area_tag "gallery_images[description][#{image.id}]", image.description, size: '30x5'
        = check_box_tag "gallery_images[remove_image][#{image.id}]"
        = text_field_tag "gallery_images[order][#{image.id}]", image.order, {placeholder: 'order',size: 4}
  .field
    = f.label :add_gallery_images
    = f.file_field :add_gallery_images, :multiple => true, name: 'gallery_images[images][]'
  .actions
    = f.submit

= tinymce_assets
= tinymce