= form_for([@user, @image_gallery], :html => {:multipart => true, :class => 'admin-form'}) do |f|
  - if @image_gallery.errors.any?
    #error_explanation
      %h1
        = pluralize(@image_gallery.errors.count, "error")
        prohibited this tip from being saved:
      %ul
        - @image_gallery.errors.full_messages.each do |message|
          %li= message
  .actions
    = f.submit
  .field
    = f.label :title
    = f.text_field :title
  - if @user.nil?
    .field
      = f.label :category
      = f.select(:image_gallerable_id, nested_dropdown(MediaImageCategory.all.arrange))
  .field
    = f.label :description
    = f.text_area :description, :class => 'tinymce', :rows => 40, :cols => 120

  = render 'shared/image_gallery_form', f: f, media: @image_gallery
  .actions
    = f.submit