.main-content
  .heading
    %h1
      =t('image_gallerys')
      \:
      #{@image_gallery.image_gallerable.name}
  %article
    %h3
      =@image_gallery.title
    %i.extra-info
      =distance_of_time_in_words_to_now @image_gallery.updated_at
      = t('ago')
      ='/ 0 Comentários / Marcações:  Snowboard, Viagem, Montanhas'
    -unless @image_gallery.gallery_images.all.count.zero?
      =render 'shared/sliders/tip', images: @image_gallery.gallery_images.all
    .clear
    - if can? :update, @image_gallery
      = link_to t('edit'), edit_image_gallery_path(@image_gallery)
      |
    - if can? :destroy, @image_gallery
      = link_to 'Destroy', @image_gallery, method: :delete, data: { confirm: 'Are you sure?' }
      |
      \#{link_to 'Back', polymorphic_url([@user, ImageGallery.new])}
  .heading
/ end main-content

-content_for :aside do
  %aside
    =render 'shared/aside/aside_social_buttons'
    =#render 'shared/aside/aside_media_image_category', :media_image_category => @image_gallery.media_image_category
    =render 'shared/aside/aside_fb_like_box'
    =render 'shared/aside/aside_advert'
    =render 'shared/aside/aside_resort_gallery'
  .clear