%p#notice= notice

%p
  %b Name:
  = @accommodation.name

%p
  %b Description:
  = @accommodation.description.html_safe

= link_to 'Edit', edit_accommodation_path(@accommodation)
\|
= link_to 'Back', accommodations_path
