= form_for [@tour, @participant] do |f|
  - if @participant.errors.any?
    #error_explanation
      %h2= "#{pluralize(@participant.errors.count, "error")} prohibited this participant from being saved:"
      %ul
        - @participant.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :tour_id
    = f.text_field :tour_id
  .field
    = f.label :user_id
    = f.text_field :user_id
  .actions
    = f.submit 'Save'
