%p#notice= notice

%p
  %b Tour:
  = @participant.tour
%p
  %b User:
  = @participant.user

= link_to 'Edit', edit_tour_participant_path(@tour, @participant)
\|
= link_to 'Back', tour_participants_path
