%h1 Listing tour_styles

%table
  %thead
    %tr
      %th Name
      %th Description
      %th
      %th
      %th
      
  %tbody
    - @tour_styles.each do |tour_style|
      %tr
        %td= tour_style.name
        %td= tour_style.description
        %td= link_to 'Show', tour_style
        %td= link_to 'Edit', edit_tour_style_path(tour_style)
        %td= link_to 'Destroy', tour_style, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Tour style', new_tour_style_path
