.heading
  %h1= t('userProfile')
  /*- if !current_user.athlete?
  .fb-like{"data-href"=> request.original_url.to_s, "data-layout"=>"button", "data-action"=>"like", "data-show-faces"=>"true", "data-share"=>"true", :style => "float: right;"}

.profile-card
  .leftcol
    = image_tag(profile.avatar_url, class: 'userpic', alt: profile.name )
  .rightcol
    .title
      %span.name= profile.name.to_s + ' ' + profile.surname.to_s
      -if !profile.login.blank?
        =' aka ' + profile.login.to_s
      - if profile.online?
        %span.online online
      - else
        %span.offline offline
        %span.activity
          %b
            = t('lastSignInAt')
            \:
          = user_last_seen_at(profile)
    %ul.details-list
      -unless profile.birthday.nil?
        %li
          %b
            = t('age')
            \:
          = age profile.birthday
      -unless profile.sex.nil?
        %li
          %b
            = t('sex')
            \:
          =profile.sex.to_s
      -unless profile.birthday.blank?
        %li
          %b
            = t('birthday')
            \:
          =profile.birthday.to_formatted_s(:long)
      -unless profile.country.blank?
        %li
          %b
            = t('country')
            \:
          =Carmen::Country.coded(profile.country).name
      -unless profile.city.blank?
        %li
          %b
            = t('city')
            \:
          =profile.city
      %li.contacts
        %b
          = t('contacts')
          \:
        .contacts-list
          - if profile.email
            %span.email=mail_to profile.email, profile.email, :target => "_blank"
          - if profile.web
            %span.web=link_to cut_phrase(profile.web,45), profile.web, :target => "_blank"
          - if profile.fb
            %span.fb=link_to cut_phrase(profile.fb,45), profile.fb, :target => "_blank"
        .clear
  .clear
  -unless profile.bio.blank?
    %p.bio
      %b Biografia:
      =profile.bio.html_safe
  -unless profile.image_galleries.all.count.zero?
    = render profile.image_galleries
  -if 2<0
    .buttons
      %a.button{:href => "#"} Posts do Fórum
      %a.button{:href => "#"} Posts do Vamo Junto
    .clear