.profile-athl-card
  .leftcol
    = link_to avatar_img(profile), user_url(profile)
  .rightcol
    .title
      %span.name
        =link_to profile.name.to_s + ' ' + profile.surname.to_s, user_url(profile)
      -if !profile.login.blank?
        =' aka ' + profile.login.to_s
      - if profile.online?
        %span.online online
      - else
        %span.offline offline
        /%span.activity
        /  %b
        /    = t('lastSignInAt')
        /    \:
        /  = user_last_seen_at(profile)
    %ul.details-list
      -unless age(profile.birthday)>45
        %li
          %b
            = t('age')
            \:
          = age profile.birthday
      -unless profile.city.blank?
        %li
          %b
            = t('city')
            \:
          =profile.city
      %li.contacts
        %b
          = t('contacts')
          \:
        .contacts-list
          - if profile.web
            %span.web=link_to cut_phrase(profile.web,45), profile.web, :target => "_blank"
          - if profile.fb and !profile.fb.to_s.empty?
            %span.fb=link_to profile.name.to_s, profile.fb, :target => "_blank"
        .clear
  .galcol
    -unless profile.image_galleries.all.count.zero?
      Galerias de foto:
      =profile.image_galleries.all.count
      =link_to image_tag(profile.image_galleries.sample.gallery_images.sample.image_url(:slider), class: 'galsample', :title=>"Foto des "+profile.name.to_s + " " + profile.surname.to_s), user_url(profile)
  .clear
.clear
%p.bio
  -unless profile.bio.to_s.blank?
    %b Biografia:
    /* =truncate_html(profile.bio, length: 250, omission: '  ')
    =strip_tags(profile.bio).gsub("&nbsp;", "").to_s.html_safe[0..250]

    -if profile.bio.length > 250
      =link_to "Leia mais", user_url(profile), class: 'read-more'

