<section class="content">
  <div class="main-content">
    <div class="heading"><h2><%= t('userProfile') %></h2></div>
    <div class="profile-card">
      <div class="leftcol">
        <%= image_tag('avatar.jpg', class: 'userpic', alt: @user.name ) %>
        <div class="reputation"><a href="#">Reputação:</a><span> Brother </span></div>
        <ul class="stars">
          <li class="full"></li>
          <li class="full"></li>
          <li class="full"></li>
          <li class="full"></li>
          <li class="full"></li>
          <li class="full"></li>
          <li class="full"></li>
          <li class="empty"></li>
        </ul>
      </div><!-- end leftcol -->
      <div class="rightcol">
        <div class="title">
          <span class="name"><%= @user.name %></span>
          <% if @user.online? %>
            <span class="online">online</span>
          <% else %>
              <span class="offline">offline</span>
          <% end %>
          <span class="activity"><b><%= t('lastSignInAt') %>:</b> <%= @user.last_seen_at %> </span>
        </div>
        <ul class="details-list">
          <li><b>Posição:</b><span>master of sports</span></li>
          <li><b><%= t('age')%>:</b><span>27</span></li>
          <li><b><%= t('sex')%>:</b><span>Masculino</span></li>
          <li><b><%= t('birthday')%>:</b><span>31 de maio, 2014</span></li>
          <li><b><%= t('country')%>:</b><span>Brasil</span></li>
          <li><b><%= t('city')%>:</b><span>Sao Paulo</span></li>
          <li><b><%= t('interests')%>:</b><span>Snowboard, Wakeboard, Surfe </span></li>
          <li class="contacts">
            <b><%= t('contacts')%>:</b>
            <div class="contacts-list">
              <% if @user.email %>
                <span class="email"><%= @user.email %></span>
              <% end %>
              <span class="web">www.zonaradical.com.br</span>
              <span class="fb">https://www.facebook.com/zonaradicalbrasil</span>
            </div>
            <div class="clear"></div>
          </li>
        </ul><!-- end details-list -->
      </div><!-- end rightcol -->
      <div class="clear"></div>
      <p class="bio"><b>Biografia:</b>  Jaja vc podera colocar aki todas as informacoes que vc quiser.</p>
      <div class="buttons">
        <a href="#" class="button">Posts do Fórum</a>
        <a href="#" class="button">Posts do Vamo Junto</a>
        <div class="clear"></div>
      </div>
    </div><!-- end profile-card -->
  </div><!-- end main-content -->
  <aside>
    <div class="heading"><h2>Fique conectado</h2></div>
    <ul class="social-buttons">
      <li><a href="https://www.facebook.com/zonaradicalbrasil" class="fb" target="_blank"></a></li>
      <li><a href="http://instagram.com/zonaradicalbr" class="yt"></a></li>
      <li><a href="https://twitter.com/ZonaRadicalBR" class="tw"></a></li>
      <li><a href="#" class="gp"></a></li>
      <li><a href="#" class="rss"></a></li>
    </ul>
    <div class="heading"><h2>Instagram</h2></div>
    <ul class="flickr-list">
      <!-- SnapWidget 3*3
      <iframe src="http://snapwidget.com/in/?u=em9uYXJhZGljYWxicnxpbnw2NXwzfDN8fHllc3w0fGZhZGVJbnxvblN0YXJ0fHllc3xubw==&ve=230814" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:237px; height:237px"></iframe> -->
      <!-- SnapWidget 2*2 -->
      <iframe src="http://snapwidget.com/in/?u=em9uYXJhZGljYWxicnxpbnwxMDN8MnwyfHx5ZXN8NXxub25lfG9uU3RhcnR8eWVzfG5v&ve=230814" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:236px; height:236px"></iframe>
    </ul>
    <div class="heading"><h2>Facebook</h2></div>
    <div class="fb-like-box" data-href="https://www.facebook.com/zonaradicalbrasil" data-width="303" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
  </aside>
  <div class="clear"></div>
</section><!-- end content -->