-content_for :for_head do
  -if @user.roles.include?("athlete")
    %title #{@user.name.to_s} #{@user.surname.to_s} | Atletas do Brasil
    %meta{:property=>"og:title", :content => @user.name.to_s+" "+ @user.surname.to_s+" | Atletas do Brasil"}
  - else
    %title #{@user.name.to_s} #{@user.surname.to_s} | Snowboarders do Brasil
    %meta{:property=>"og:title", :content => @user.name.to_s+" "+ @user.surname.to_s+" | Snowboarders do Brasil"}
  %meta{:name => "description",
      :content => "Perfil perzonalizado de "+@user.name.to_s+" "+@user.surname.to_s+": biografia, contatos, galeria das fotos."}
  /* facebook METAS
  %meta{:property=> "og:description", :content => "Perfil perzonalizado do "+@user.name.to_s+" "+@user.surname.to_s+": biografia, contatos, galeria das fotos: "+@user.bio.to_s[0..30]}
  %meta{:property=>"og:url", :content => request.original_url.to_s}
  %meta{:property=> "og:image", :content=> @user.avatar_url}
  -unless @user.image_galleries.all.count.zero?
    - @user.image_galleries.each do |galler|
      - galler.gallery_images.each do |img|
        %meta{:property=> "og:image", :content=>  img.image_url(:slider).to_s}
  %meta{:property=>"og:type", :content =>"website"}
.main-content
  = render 'profile', profile: @user
-content_for :aside do
  %aside
    .heading
      %h1= t('personalMenu')
    .buttons
      -if can? :update, @user
        %a.button{:href => edit_user_path(@user)}= t('editProfile')
        = image_gallery_button
      = tour_button unless @user.agency?
      = offer_button if @user.agency?
    .clear
    =render 'shared/aside/aside_social_buttons'
    =render 'shared/aside/aside_fb_like_box'
    =render 'shared/aside/aside_advert'
  .clear