.main-content
  .heading
    %h2= t('userProfile')
  -if can? :update, @user
    =link_to 'Edit', edit_user_path(@user)
  .profile-card
    .leftcol
      = image_tag(@user.avatar_url, class: 'userpic', alt: @user.name )
      .reputation
        %a{:href => "#"} Reputação:
        %span Brother
      %ul.stars
        %li.full
        %li.full
        %li.full
        %li.full
        %li.full
        %li.full
        %li.full
        %li.empty
    .rightcol
      .title
        %span.name= @user.name
        - if @user.online?
          %span.online online
        - else
          %span.offline offline
        %span.activity
          %b
            = t('lastSignInAt')
            \:
          = @user.last_seen_at
      %ul.details-list
        %li
          %b Posição:
          %span master of sports
        %li
          %b
            = t('age')
            \:
          %span 27
        %li
          %b
            = t('sex')
            \:
          %span Masculino
        %li
          %b
            = t('birthday')
            \:
          %span 31 de maio, 2014
        %li
          %b
            = t('country')
            \:
          %span Brasil
        %li
          %b
            = t('city')
            \:
          %span Sao Paulo
        %li
          %b
            = t('interests')
            \:
          %span Snowboard, Wakeboard, Surfe
        %li.contacts
          %b
            = t('contacts')
            \:
          .contacts-list
            - if @user.email
              %span.email= @user.email
            %span.web www.zonaradical.com.br
            %span.fb https://www.facebook.com/zonaradicalbrasil
          .clear
    .clear
    %p.bio
      %b Biografia:
      Jaja vc podera colocar aki todas as informacoes que vc quiser.
    .buttons
      %a.button{:href => "#"} Posts do Fórum
      %a.button{:href => "#"} Posts do Vamo Junto
    .clear

-content_for :aside do
  .heading
    %h2 Fique conectado
  %ul.social-buttons
    %li
      %a.fb{:href => "https://www.facebook.com/zonaradicalbrasil", :target => "_blank"}
    %li
      %a.yt{:href => "http://instagram.com/zonaradicalbr"}
    %li
      %a.tw{:href => "https://twitter.com/ZonaRadicalBR"}
    %li
      %a.gp{:href => "#"}
    %li
      %a.rss{:href => "#"}
  .heading
    %h2 Instagram
  %ul.flickr-list
    /
      SnapWidget 3*3
      <iframe src="http://snapwidget.com/in/?u=em9uYXJhZGljYWxicnxpbnw2NXwzfDN8fHllc3w0fGZhZGVJbnxvblN0YXJ0fHllc3xubw==&ve=230814" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:237px; height:237px"></iframe>
    / SnapWidget 2*2
    %iframe.snapwidget-widget{:allowtransparency => "true", :frameborder => "0", :scrolling => "no", :src => "http://snapwidget.com/in/?u=em9uYXJhZGljYWxicnxpbnwxMDN8MnwyfHx5ZXN8NXxub25lfG9uU3RhcnR8eWVzfG5v&ve=230814", :style => "border:none; overflow:hidden; width:236px; height:236px", :title => "Instagram Widget"}
  .heading
    %h2 Facebook
  .fb-like-box{"data-colorscheme" => "light", "data-header" => "true", "data-href" => "https://www.facebook.com/zonaradicalbrasil", "data-show-border" => "true", "data-show-faces" => "true", "data-stream" => "false", "data-width" => "303"}