.main-content{:itemscope => true, :itemtype => "http://schema.org/Article"}
  -content_for :for_head do
    /* general METAS
    %title Videos de Snowboard #{@video.video_category.name} | Zona Radical
    /* facebook METAS
    %meta{:property=>"og:type", :content =>"video"}
    %meta{:name => "description", :content => @video.description.to_s}
    %meta{:property=>"og:title", :content => "ZR Videos: "+@video.title}
    - if @video.source_link.include?("youtube")
      %meta{:property=>"og:video", :content => getYoutubeEmbedLink(@video.source_link)}
    - elsif @video.source_link.include?("vimeo")
      %meta{:property=>"og:video", :content => "http:"+getVimeoEmbedLink(@video.source_link)}
    %meta{:property=>"og:video:width", :content => '701'}
    %meta{:property=>"og:video:height", :content => '394'}
    %meta{:property=>"og:image", :content =>thumbnail_url(@video.source_link).to_s}
    %meta{:property=>"og:description", :content => @video.description.to_s}
    %meta{:property=>"og:url", :content =>request.original_url.to_s}

  .heading
    %h1
      %span{:itemprop=>"articleSection"}
        =t('videos')
      \:
      %span{:itemprop=>"about"}
        #{@video.video_category.name}
  %article
    %h3{:itemprop=>"name"}
      =@video.title
    - if @video.source_link.include?("youtube")
      %iframe.youtube{:allowfullscreen => '', :frameborder => '0', :height => '394', :src => getYoutubeEmbedLink(@video.source_link), :width => '701'}
    - else @video.source_link.include?("vimeo")
      %iframe.youtube{:allowfullscreen => '', :frameborder => '0', :height => '394', :src => getVimeoEmbedLink(@video.source_link), :width => '701'}
    %p{:itemprop=>"description"}
      #{@video.description}
      .fb-like{"data-href"=> request.original_url.to_s, "data-layout"=>"button", "data-action"=>"like", "data-show-faces"=>"true", "data-share"=>"true", :style => "float: right;"}
    - if can? :video, :update
      = link_to t('edit'), edit_video_path(@video)
      |
      \#{link_to 'Back', videos_path}
  .heading
/ end main-content

-content_for :aside do
  %aside
    =render 'shared/aside/aside_social_buttons'
    =#render 'shared/aside/aside_video_category', :video_category => @video.video_category
    =render 'shared/aside/aside_fb_like_box'
    =render 'shared/aside/aside_advert'
    =render 'shared/aside/aside_resort_gallery'
  .clear