%h3 Gallery
%ul
-unless media.gallery_images.all.count.zero?
  %table
    -media.gallery_images.all.each do |image|
      %tr
        %td{style: "padding: 10px;"}
          = image_tag image.image_url(:thumb).to_s
        %td
          = text_field_tag "gallery_images[name][#{image.id}]", image.name, {placeholder: 'Titulo'}
        %td
          = text_area_tag "gallery_images[description][#{image.id}]", image.description, {placeholder: 'Descricao',size: '30x5'}
        %td{style: "padding: 10px;"}
          Substituir img?
          %br
          = file_field '', "gallery_images[update_images][#{image.id}]"
        %td
          Deletar?
          %br
          = check_box_tag "gallery_images[remove_image][#{image.id}]"
.field
  = f.label :add_gallery_images
  = f.file_field :add_gallery_images, :multiple => true, name: 'gallery_images[images][]'