- if Devise.mappings[:user].recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
  = link_to t('forgotPsw'), new_password_path(:user)
  %br/
- if Devise.mappings[:user].confirmable? && controller_name != 'confirmations'
  = link_to t('noConfirm'), new_confirmation_path(:user)
  %br/
- if Devise.mappings[:user].lockable? && User.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
  = link_to t('noUnlock'), new_unlock_path(:user)
  %br/
.buttons
  - if Devise.mappings[:user].omniauthable?
    - User.omniauth_providers.each do |provider|
      -#
        %b= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(:user, provider)
      %a.button{:href => omniauth_authorize_path(:user, provider)}, "Sign in with #{provider.to_s.titleize}"
      -# %br/
.clear
