%ul.menu
  %li.submenu-item
    = link_to t('home'), main_app.root_path
    %ul.submenu
      =menu_video_categories VideoCategory.all.arrange

  %li.submenu-item
    =link_to t('resortsShort'),main_app.resorts_url
    %ul.submenu
      =menu_resort_categories ResortCategory.all.arrange

  %li.submenu-item
    =link_to t('tipsShort'),main_app.tips_url
    %ul.submenu
      =menu_tip_categories TipCategory.all.arrange

  %li
    %a{:href => "http://zonaradical.com.br/vamo-junto.html"} Vamo junto
  %li= link_to t('forum'), main_app.forem_path

  %li.submenu-item
    = link_to t('forum'), "../forum"
    %ul.submenu
      %li
        = link_to "VIAGENS", "../forum/categories/babbling"
        = link_to "E-SHOPPING", "../forum/categories/shopping"
        = link_to "FALA COM ZR", "../forum/categories/fala-com-a-zr"
      /* =menu_forum_categories(ForemForums.all.arrange)

  %li
    %a{:href => "http://zonaradical.com.br/galera.html"}
      Galera
      %span ZR