%ul.menu
  %li.submenu-item
    = active_link_to t('home'), main_app.root_path, active: [['static_pages', 'video_categories'], ['index', 'show']]
    %ul.submenu
      =menu_video_categories VideoCategory.all.arrange

  %li.submenu-item
    = active_link_to t('resortsShort'),main_app.resorts_url, :rel => 'nofollow', active: [['resorts', 'resort_categories'], []]
    %ul.submenu
      =menu_resort_categories ResortCategory.all.arrange

  %li.submenu-item
    = active_link_to t('tipsShort'),main_app.tips_url, :rel => 'nofollow', active: [['dicas'], []]
    %ul.submenu
      =menu_tip_categories TipCategory.all.arrange

  %li= active_link_to t('vamoJunto'), main_app.tours_path

  /* %li
  /*  %a{:href => "http://zonaradical.com.br/vamo-junto.html"} Vamo junto

  /* %li.submenu-item
  /*  = link_to 'Ofertas', '#'
  /*  %ul.submenu
  /*    %li= link_to t('agencies'), main_app.agencies_path
  /*    /* %li= link_to t('offers'), main_app.offers_path

  %li
    - if Rails.application.secrets.discourse_url
      - if @current_user.nil?
        %a{:href => Rails.application.secrets.discourse_url} Forum
      - else
        %a{:href => Rails.application.secrets.discourse_url + '/session/sso?return_path=%2F'} Forum
  %li.submenu-item
    %a{:href => "#"}
      Galera
      %span Snow
    %ul.submenu
      %li= link_to t('athletes'), main_app.athletes_path
      %li= link_to t('agencies'), main_app.agencies_path
      %li= link_to t('organizations'), main_app.organizations_path
      %li= link_to "Amigos e links úteis", friends_url
  %li
    = active_link_to t('contacts'), galera_url, active: [['static_pages'], ['galera', 'show']]
