.clear
.heading
  %h1{:style=>"margin-top: 40px;"}
    Comentários
%ul.comments-list
  - all_comments = @tour.discourse_comments
  - comments = @tour.discourse_comments.paginate(page: params[:comments_page], per_page: 2)
  - comments.each do |comment|
    - reply_to = all_comments[-comment['reply_to_post_number']+1] unless comment['reply_to_post_number'].nil?
    - user = User.find(discourse_client.user_sso(comment['username'])['external_id'])
    - if reply_to
      - user_reply = User.find(discourse_client.user_sso(reply_to['username'])['external_id'])
      %li
        %a.img-wrap{:href => "#"}
          %img.userpic{:alt => "", :src => "#{user_reply.avatar_url}"}/
        .details
          %p.title
            %span== #{user_reply.name} #{user_reply.surname}, #{DateTime.parse(reply_to['updated_at']).strftime('%d de %B, %Y às %I:%M %p')}
          %div= reply_to['cooked'].html_safe
        .clear
      %li.comment-reply
        %a.img-wrap{:href => "#"}
          %img.userpic{:alt => "", :src => "#{user.avatar_url}"}/
        .details
          %p.title
            %span== #{user.name} #{user.surname}, #{DateTime.parse(comment['updated_at']).strftime('%d de %B, %Y às %I:%M %p')}
          %div= comment['cooked'].html_safe
        .clear
    - else
      %li
        %a.img-wrap{:href => "#"}
          %img.userpic{:alt => "", :src => "#{user.avatar_url}"}/
        .details
          %p.title
            %span== #{user.name} #{user.surname}, #{DateTime.parse(comment['updated_at']).strftime('%d de %B, %Y às %I:%M %p')}
          %div= comment['cooked'].html_safe
        .clear
= link_to 'Todos os comentários', DiscourseZr.topic_url(@tour.discourse_topic_id), target: '_blank' unless comments.empty?
= will_paginate(comments, param_name: :comments_page)