= form_for @tour do |f|
  - if @tour.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tour.errors.count, "error")} prohibited this tour from being saved:"
      %ul
        - @tour.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :tour_style_id, t('tourStyle')
    = f.collection_select(:tour_style_id, TourStyle.all, :id, :name, {:prompt => t('selectTourStyle')})
  .field
    = f.label :accommodation_id, t('accommodation')
    = f.collection_select(:accommodation_id, Accommodation.all, :id, :name, {:prompt => t('selectAccommodation')})
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description, :class => 'froala', :rows => 40, :cols => 120
  .field
    = f.label :whats_included
    = f.text_field :whats_included
  .field
    = f.label :duration
    = f.number_field :duration
  .field
    = f.label :check_in
    = f.date_select :check_in
  .field
    = f.label :switch_off
    = f.date_select :switch_off
  .field
    = f.label :price
    = f.text_field :price
  .field
    = f.label :published
    = f.check_box :published
  %h3 Gallery
  %ul
  -unless @tour.gallery_images.all.count.zero?
    -@tour.gallery_images.all.each do |image|
      %li
        = image_tag image.image_url(:thumb).to_s
        = text_field_tag "gallery_images[name][#{image.id}]", image.name, {placeholder: 'name'}
        = text_field_tag "gallery_images[url][#{image.id}]", image.url, {placeholder: 'url'}
        = text_area_tag "gallery_images[description][#{image.id}]", image.description, size: '30x5'
        = check_box_tag "gallery_images[remove_image][#{image.id}]"
        = text_field_tag "gallery_images[order][#{image.id}]", image.order, {placeholder: 'order',size: 4}
  .field
    = f.label :add_gallery_images
    = f.file_field :add_gallery_images, :multiple => true, name: 'gallery_images[images][]'
  .actions
    = f.submit 'Save'
