.main-content
  -content_for :for_head do
    /* general METAS
    %title Vamo junto | Zona Radical
    %meta{:name => "description", :content =>  "é um sistema para você poder encontrar o perfeito parceiro para sua viagem. Você pode postar anúncios procurando parceiros, e também procurar companhia entre quem já postou."}
    %meta{:viewport => "width=1220, maximum-scale=2.0"}
  .heading
    %h2
      <strong>Vamo junto</strong> com Zona Radical Snowboard
      = link_to '+ Adicionar um anúncio', new_manage_tour_path, class: 'all add-link'
  %p.search-intro 
    Esta parte do <strong> Zona Radical Snowboard </strong> é muito especial.
    é um sistema para você poder encontrar o perfeito parceiro para sua viagem -
    tanto uma de apreder snowboard quanto de radicalizar freeride. Você pode
    postar anúncios procurando parceiros, e também procurar companhia entre quem já postou.
  %p Ja-ja você poderá pesquisar os anúncios escolhendo abaixo os parâmetros de viagem.
  
  = form_for :search, url: search_tours_path, method: :get do |f|
    .search-filter
      .select-wrap
        = f.hidden_field :resort_categories, value: search_value_for(:resort_categories)
        .select
          %span.name Destino
          %a.arrow{:href => "#"}
        %ul.option-list
          - tour_resort_categories.each do |resort_category|
            %li{data: { value: resort_category.id }}= resort_category.name
      .select-wrap
        = f.hidden_field :period, value: search_value_for(:period)
        .select
          %span.name Periodo
          %a.arrow{:href => "#"}
        %ul.option-list
          - tour_dates.each do |date|
            %li{data: { value: date.strftime("%m/%Y") }}= date.strftime("%B'%y")
      .select-wrap
        = f.hidden_field :tour_style, value: search_value_for(:tour_style)
        .select
          %span.name Alvo
          %a.arrow{:href => "#"}
        %ul.option-list
          - tour_styles.each do |tour_style|
            %li{data: { value: tour_style.id }}= tour_style.name
      .select-wrap
        = f.hidden_field :accommodation, value: search_value_for(:accommodation)
        .select
          %span.name Hospedagem
          %a.arrow{:href => "#"}
        %ul.option-list
          - tour_accommodations.each do |accommodation|
            %li{data: { value: accommodation.id }}= accommodation.name
      .select-wrap
        = f.hidden_field :cost, value: search_value_for(:cost)
        .select
          %span.name Custos
          %a.arrow{:href => "#"}
        %ul.option-list
          %li{"data-value" => "0..99"} menos de r$ 100 por dia
          %li{"data-value" => "100..200"} r$ 100 - r$ 200
          %li{"data-value" => "201..Infinity"} mais de r$ 200 por dia
      .select-wrap
        = f.hidden_field :age_group, value: search_value_for(:age_group)
        .select
          %span.name Faixa etaria preferida
          %a.arrow{:href => "#"}
        %ul.option-list
          %li{"data-value" => "#{18.years.ago.to_date}..#{Date.today}"} menos de 18
          %li{"data-value" => "#{25.years.ago.to_date}..#{18.years.ago.to_date}"} 18-25
          %li{"data-value" => "#{99.years.ago.to_date}..#{25.years.ago.to_date}"} 25-99
      .select-wrap
        = f.hidden_field :resorts, value: search_value_for(:resorts)
        .select
          %span.name Estação
          %a.arrow{:href => "#"}
        %ul.option-list
          - tour_resorts.each do |resort|
            %li{data: { value: resort.id, category_id: resort.resort_category_id } }= resort.name
      .clear
    / end search-filter
    = f.submit t('applyFilters')
  .heading
    %h2 Todos os anúncios
    = link_to 'Os meus anúncios', manage_tours_path, class: 'all my-ads'
  - if @tours.empty?
    Não existem tours ou nenhuma foi encontrada com os filtros especificados.
  - else
    %ol.announcement-list
      - @tours.sort_by(&:check_in_date).each do |tour|
        %li
          %p.title= tour.title
          %i.date
            = tour.check_in
            %b= tour.resort_categories.collect(&:name).join(', ')
          %p= truncate_html(tour.description.html_safe, length: 100)
          = link_to 'Leia mais', '#', class: 'read-more'
    / end announcement-list
  = will_paginate @tours

  .clear

  -content_for :aside do
    %aside
      =render 'shared/aside/aside_social_buttons'
      =render 'shared/aside/aside_tip_category', :tip_category => nil
      =render 'shared/aside/aside_fb_like_box'
      =render 'shared/aside/aside_advert'
      =render 'shared/aside/aside_resort_gallery'
    .clear