%h1 Listing tours

%table
  %thead
    %tr
      %th Tour style
      %th Accommodation
      %th Title
      %th Description
      %th Duration
      %th Check in
      %th Image
      %th Price
      %th Published
      %th
      %th
      
  %tbody
    - @tours.each do |tour|
      %tr
        %td= tour.tour_style
        %td= tour.accommodation
        %td= tour.title
        %td= tour.description
        %td= tour.duration
        %td= tour.check_in
        %td= tour.image
        %td= tour.price
        %td= tour.published
        %td= link_to 'Show', [:manage, tour]
        %td
          = form_for [tour, Tour::Participant.new] do |f|
            = f.hidden_field :tour_id, value: tour.id
            = f.hidden_field :user_id, value: current_user.id
            = f.submit t('participate')

%br