%h1 Listing tours

%table
  %thead
    %tr
      %th Tour style
      %th Accommodation
      %th Title
      %th Description
      %th Duration
      %th Check in
      %th Image
      %th Price
      %th Published
      %th Creator
      %th Participants
      %th
      %th
      
  %tbody
    - @tours.each do |tour|
      %tr
        %td= tour.tour_style
        %td= tour.accommodation
        %td= tour.title
        %td= tour.description
        %td= tour.duration
        %td= tour.check_in
        %td= tour.image
        %td= tour.price
        %td= tour.published
        %td= tour.owners.collect { |o| o.user.name }.join(', ')
        %td= tour.approved_participants.collect { |p| p.user.name }.join(', ')
        %td= link_to 'Show', tour
        %td= participation_status(tour)
%br