.main-content
  -content_for :for_head do
    /* general METAS
    %title #{@tour.title} | Vamo Junto com Zona Radical
    %meta{:name => "description", :content =>  strip_tags(@tour.description.to_s)}

    /* facebook METAS
    %meta{:property=>"og:type", :content =>"article"}
    %meta{:property=> "og:description", :content =>   strip_tags(@tour.description.to_s)}
    %meta{:property=>"og:title", :content => "Vamo Junto: " +@tour.title}
    %meta{:property=>"og:url", :content => request.original_url.to_s}
    - if @tour.gallery_images.all.count.zero?
      %meta{:property=> "og:image", :content=> "http://zonaradical.com.br/images/vamo_junto.png"}
      %meta{:itemprop=> "photo", :content=> "http://zonaradical.com.br/images/vamo_junto.png"}
    - else
      -@tour.gallery_images[0..3].each do |image|
        %meta{:property=> "og:image", :content=> image.image_url(:slider).to_s}
        %meta{:itemprop=> "photo", :content=> image.image_url(:slider).to_s}
    /* schema.org METAS
    /* %meta{:itemprop=>"location", :content => @resort.resort_category.name.to_s}
    %meta{:itemprop=>"url", :content => request.original_url.to_s}
  .heading
    %h1
      =@tour.title
    .fb-like{"data-href"=> request.original_url.to_s, "data-layout"=>"button", "data-action"=>"like", "data-show-faces"=>"true", "data-share"=>"true", :style => "float: right;"}

  %article
    = render 'show'
    
    .clear
    .heading
    .buttons
      - if can? :manage, @tour
        = link_to 'Edit', edit_manage_tour_path(@tour), class: "button"
      = link_to t('newTour'), new_manage_tour_path, class: "button"
      = link_to 'Todos Trips', tours_path, class: "button"

    = render 'comments'

    - if current_user
      .clear
      .heading
        %h1 Deixe um comentário
      = form_for @comment || Comment.new, url: comment_tour_path do |f|
        - if @comment and @comment.errors.any?
          %ul
            - @comment.errors.full_messages.each do |msg|
              %li= msg
        .wmd-panel
          #wmd-button-bar
          = f.text_area :content, class: 'wmd-input'
        .actions
          = f.submit 'Enviar'
    - else
      %p== Faça #{link_to 'login', new_user_session_path} para poder comentar.

-content_for :aside do
  %aside
    =render 'shared/aside/aside_social_buttons'
    =render 'shared/aside/aside_advert'
    =render 'shared/aside/aside_fb_like_box'
  .clear