%section.content
  %p#notice= notice
  .main-content
    .heading
      %h2= t('resort') + ': ' + @resort_category.name
    .introtext= @resort_category.description
  -if can? :resort_categories, :update, :destroy
    = link_to 'Edit', edit_resort_category_path(@resort_category)
    \|
    = link_to 'Back', resort_categories_path
    .clear
    %ul.stations-list
      =render @resorts