%p#notice= notice
.main-content
  .heading
    %h2= t('resorts') + ': ' + @resort_category.name
  .introtext= @resort_category.description.html_safe unless @resort_category.description.nil?
  -if can? :update, @resort_category
    = link_to t('edit'), edit_resort_category_path(@resort_category)
  .clear
  %ul.stations-list
    =render @resorts
    = will_paginate @resorts,:previous_label => '<<',:next_label => '>>', :inner_window => 1
  -if @resort_category.children?
    -@resort_category.children.each do |resort_category|
      -unless resort_category.resorts.empty?
        .heading
          %h2= resort_category.name + ' (' + resort_category.resorts.size.to_s + ')'
          = link_to t('allResorts') + resort_category.name, resort_category_path(resort_category), class: :all
        .introtext
          -if !resort_category.description.nil?
            = resort_category.description.html_safe[0..200]
            -if resort_category.description.html_safe.length>200
              =link_to t('readMore'), resort_category_path(resort_category)
        -if can? :update, resort_category
          = link_to t('edit'), edit_resort_category_path(resort_category)
        .clear
        %ul.stations-list
          =render resort_category.resorts.limit(3)
          -if resort_category.resorts.size > 3
            %p.others= link_to t('otherResorts') + resort_category.name, resort_category_path(resort_category)
-content_for :aside do
  %aside
    =render 'shared/aside/aside_social_buttons'
    =render 'shared/aside/aside_resort_category', :resort_category => @resort_category
    =render 'shared/aside/aside_fb_like_box'
    =render 'shared/aside/aside_advert'
    =render 'shared/aside/aside_resort_gallery'
  .clear