%p#notice= notice
.main-content{:itemscope => true, :itemtype => "http://schema.org/Article"}
  -content_for :for_head do
    /* general METAS
    %title Zona Radical | Dicas de Snowboard: #{@tip_category.name}
    %meta{:name => "description", :content =>  @tip_category.description.to_s}
    /* facebook METAS
    %meta{:property=>"og:type", :content =>"article"}
    %meta{:property=>"og:description", :content =>  @tip_category.description.to_s}
    %meta{:property=>"og:title", :content => "Zona Radical Dicas: "+@tip_category.name}
    %meta{:property=>"og:url", :content => request.original_url.to_s}
    /* @Todo Make proper images for all resort categories
    %meta{:property=> "og:image", :content=> "http://zonaradical.com.br/images/slide-1.jpg"}
    /* schema.org METAS
    %meta{:itemprop=>"author", :content =>"Zona Radical"}
  .heading{:itemprop=>"name"}
    %h2= t('tips') + ': ' + @tip_category.name
  .introtext= @tip_category.description.html_safe unless @tip_category.description.nil?
  -if can? :update, @tip_category
    = link_to t('edit'), edit_tip_category_path(@tip_category)
  .clear
  %ul.stations-list
    =render @tips
    = will_paginate @tips,:previous_label => '<<',:next_label => '>>', :inner_window => 1
  -if @tip_category.children?
    -@tip_category.children.each do |tip_category|
      -unless tip_category.tips.empty?
        .heading
          %h2= tip_category.name + ' (' + tip_category.tips.size.to_s + ')'
        .introtext= tip_category.description.html_safe unless tip_category.description.nil?
        -if can? :update, tip_category
          = link_to t('edit'), edit_tip_category_path(tip_category)
        .clear
        %ul.stations-list
          =render tip_category.tips.limit(3)
        -if tip_category.tips.size > 3
          %p= link_to t('otherTips') + tip_category.name, tip_category_path(tip_category)
-content_for :aside do
  %aside
    =render 'shared/aside/aside_social_buttons'
    =render 'shared/aside/aside_tip_category', :tip_category => @tip_category
    =render 'shared/aside/aside_fb_like_box'
    =render 'shared/aside/aside_resort_gallery'
    =render 'shared/aside/aside_advert'
  .clear