.main-content
  -content_for :for_head do
    /* general METAS
    %title Vamo junto | Zona Radical
    %meta{:name => "description", :content =>  "é um sistema para você poder encontrar o perfeito parceiro para sua viagem. Você pode postar anúncios procurando parceiros, e também procurar companhia entre quem já postou."}
    %meta{:viewport => "width=1220, maximum-scale=2.0"}
  .heading
    %h1
      Offers
    - if can? :create, Offer
      = link_to "+ #{t('createOffer')}", new_manage_offer_path, class: 'all add-link'
  %p.search-intro 
    Esta parte do <strong> Zona Radical Snowboard </strong> é muito especial.
    é um sistema para você poder encontrar o perfeito parceiro para sua viagem -
    tanto uma de apreder snowboard quanto de radicalizar freeride. Você pode
    postar anúncios procurando parceiros, e também procurar companhia entre quem já postou.

  = form_for :search, url: search_offers_path, method: :get do |f|
    .search-filter
      .select-wrap
        = f.hidden_field :resort_categories, value: search_value_for(:resort_categories)
        .select
          %span.name Destino
          %a.arrow{:href => "#"}
        %ul.option-list
          %li.default{data: {value: ''}} Tanto faz
          - offer_resort_categories.each do |resort_category|
            %li{data: { value: resort_category.id }}= resort_category.name
      .select-wrap
        = f.hidden_field :resorts, value: search_value_for(:resorts)
        .select
          %span.name Estação
          %a.arrow{:href => "#"}
        %ul.option-list
          - offer_resorts.each do |resort|
            %li{data: { value: resort.id } }= resort.name
      .select-wrap
        = f.hidden_field :period, value: search_value_for(:period)
        .select
          %span.name Periodo
          %a.arrow{:href => "#"}
        %ul.option-list
          %li.default{data: {value: ''}} Todos
          - offer_dates.each do |date|
            %li{data: { value: date.strftime("%m/%Y") }}= date.strftime("%B'%y")
      .select-wrap
        = f.hidden_field :offer_style, value: search_value_for(:offer_style)
        .select
          %span.name Alvo
          %a.arrow{:href => "#"}
        %ul.option-list
          %li.default{data: {value: ''}} Tanto faz
          - offer_styles.each do |offer_style|
            %li{data: { value: offer_style.id }}= offer_style.name
      .select-wrap
        = f.hidden_field :accommodation, value: search_value_for(:accommodation)
        .select
          %span.name Hospedagem
          %a.arrow{:href => "#"}
        %ul.option-list
          %li.default{data: {value: ''}} Todos tipos
          - offer_accommodations.each do |accommodation|
            %li{data: { value: accommodation.id }}= accommodation.name
      .select-wrap
        = f.hidden_field :cost, value: search_value_for(:cost)
        .select
          %span.name Custos
          %a.arrow{:href => "#"}
        %ul.option-list
          %li.default{data: {value: ''}} Qq
          %li{"data-value" => "0..99"} menos de r$ 100 por dia
          %li{"data-value" => "100..200"} r$ 100 - r$ 200
          %li{"data-value" => "201..Infinity"} mais de r$ 200 por dia
      .select-wrap
        = f.hidden_field :age_group, value: search_value_for(:age_group)
        .select
          %span.name Faixa etaria preferida
          %a.arrow{:href => "#"}
        %ul.option-list
          %li.default{data: {value: ''}} Tanto faz
          %li{"data-value" => "#{18.years.ago.to_date}..#{Date.today}"} menos de 18
          %li{"data-value" => "#{25.years.ago.to_date}..#{18.years.ago.to_date}"} 18-25
          %li{"data-value" => "#{99.years.ago.to_date}..#{25.years.ago.to_date}"} 25-99
      .select-wrap
        = f.hidden_field :resorts, value: search_value_for(:resorts)
        .select
          %span.name Estação
          %a.arrow{:href => "#"}
        %ul.option-list
          %li.default{data: {value: ''}} Tanto faz
          - offer_resorts.each do |resort|
            %li{data: { value: resort.id, category_id: resort.resort_category_id } }= resort.name
      .clear
    / end search-filter
    = f.label :show_passed
    = f.check_box :show_passed, checked: search_value_for(:show_passed) == "1"
    = f.submit t('applyFilters')
    = link_to t('cleanFilters'), main_app.offers_path, class: 'button'
  / :style=>"float: right;"
  .heading
    %h1 Todos os pacotes
    = link_to 'Os meus pacotes', manage_offers_path, class: 'all my-ads', target: '_blank'
  - if @offers.empty?
    Não existem pacotes ou nenhum foi encontrada com os filtros especificados.
  - else
    = render 'list', offer_path_method: "offer_path"
  .clear

  -content_for :aside do
    %aside
      =render 'shared/aside/aside_social_buttons'
      /=render 'shared/aside/aside_tip_category', :tip_category => nil
      =render 'shared/aside/aside_fb_like_box'
      =render 'shared/aside/aside_advert'
      =render 'shared/aside/aside_resort_gallery'
    .clear