.main-content
  -content_for :for_head do
    /* general METAS
    %title #{@offer.title} | Pacote de Snow com Zona Radical
    %meta{:name => "description", :content =>  strip_tags(@offer.description.to_s)}

    /* facebook METAS
    %meta{:property=>"og:type", :content =>"article"}
    %meta{:property=> "og:description", :content =>   strip_tags(@offer.description.to_s)}
    %meta{:property=>"og:title", :content => "Pacote de Snow: " +@offer.title}
    %meta{:property=>"og:url", :content => request.original_url.to_s}
    - if @offer.gallery_images.all.count.zero?
      %meta{:property=> "og:image", :content=> "http://zonaradical.com.br/images/vamo_junto.png"}
      %meta{:itemprop=> "photo", :content=> "http://zonaradical.com.br/images/vamo_junto.png"}
    - else
      -@offer.gallery_images[0..3].each do |image|
        %meta{:property=> "og:image", :content=> image.image_url(:slider).to_s}
        %meta{:itemprop=> "photo", :content=> image.image_url(:slider).to_s}
    /* schema.org METAS
    /* %meta{:itemprop=>"location", :content => @resort.resort_category.name.to_s}
    %meta{:itemprop=>"url", :content => request.original_url.to_s}
  .heading
    %h1
      Offer:
      = @offer.title

  %article
    = render 'show'

    .clear

    - if can? :manage, @offer
      = link_to 'Edit', edit_manage_offer_path(@offer)
      \|
    = link_to 'Back', offers_path

-content_for :aside do
  %aside
    =render 'shared/aside/aside_social_buttons'
    =render 'shared/aside/aside_advert'
    =render 'shared/aside/aside_fb_like_box'
    =render 'shared/aside/aside_resort_gallery'
  .clear
