%p#notice= notice
.main-content{:itemscope => true, :itemtype => "http://schema.org/Article"}
  -content_for :for_head do
    %title Videos de Snowboard: #{@video_category.name.to_s} | Zona Radical
    /* facebook METAS
    %meta{:property=>"og:type", :content =>"website"}
    %meta{:name => "description", :content => @video_category.description.to_s}
    %meta{:property=>"og:title", :content => "Videos de Snowboard: "+@video_category.name.to_s+" | Zona Radical"}
    %meta{:property=>"og:description", :content => @video_category.description.to_s}
    %meta{:property=>"og:url", :content => request.original_url.to_s}
    %meta{:property=>"og:image", :content =>@video_category.image_url(:thumb_1200_630).to_s}
    %meta{:itemprop=>"author", :content =>"Zona Radical"}
    %meta{:itemprop=>"description", :content =>  @video_category.description.to_s}
    / @todo Adding (!) separate keywords set for every material - when tagging is available
    %meta{:itemprop=>"keywords", :content => "videos de snowboard, video aulas, como aprender snowboard"}
    %meta{:itemprop=>"url", :content => request.original_url.to_s}
    %meta{:itemprop=>"image", :content=> @video_category.image_url(:thumb_1200_630).to_s}
  .heading
    %h1{:itemprop=>"name"}
      =@video_category.name
  .introtext{:itemprop=>"description"}
    = @video_category.description.html_safe unless @video_category.description.nil?
  -if can? :update, @video_category
    = link_to t('edit'), edit_video_category_path(@video_category)
  .clear
  %ul.stations-list
    =render @videos
    /= will_paginate @videos,:previous_label => '<<',:next_label => '>>', :inner_window => 1
  -if @video_category.children?
    -@video_category.children.each do |video_category|
      -unless video_category.videos.empty?
        .heading
          %h1= video_category.name + ' (' + video_category.videos.size.to_s + ')'
        .introtext= video_category.description.html_safe unless video_category.description.nil?
        -if can? :update, video_category
          = link_to t('edit'), edit_video_category_path(video_category)
        .clear
        %ul.stations-list
          =render video_category.videos.limit(3)
        -if video_category.videos.size > 3
          %p.others
            = link_to t('othervideos') + video_category.name, show_video_category_path(video_category)
-content_for :aside do
  %aside
    =render 'shared/aside/aside_social_buttons'
    =#render 'shared/aside/aside_video_category', :video_category => @video_category
    =render 'shared/aside/aside_fb_like_box'
    =render 'shared/aside/aside_resort_gallery'
    =render 'shared/aside/aside_advert'
  .clear
