= form_for(@country, :html => {:class => 'admin-form'}) do |f|
  - if @country.errors.any?
    #error_explanation
      %h2
        = pluralize(@country.errors.count, 'error')
        prohibited this resort from being saved:
      %ul
        - @country.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :parent_id, t('parent')
    = f.collection_select(:parent_id, Country.all,:id, :name,{:prompt => t('selectParent')})
  .actions
    = f.submit