= form_for(@resort, :html => {:multipart => true, :class => 'admin-form'}) do |f|
  - if @resort.errors.any?
    #error_explanation
      %h2
        = pluralize(@resort.errors.count, "error")
        prohibited this resort from being saved:
      %ul
        - @resort.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name
    = f.text_field :name
  .field
    = image_tag @resort.image_url(:thumb).to_s
    = f.label :image
    = f.file_field :image
    = f.check_box :remove_image

  .field
    = f.label :country
    = f.select(:resort_category_id, nested_dropdown(ResortCategory.all.arrange))

  .field
    = f.label :web
    = f.text_field :web
  .field
    = f.label :fb
    = f.text_field :fb
  .field
    = f.label t('linkToResortMap')
    = f.text_field :map_url
  .field
    = f.label t('airport')
    = f.text_field :airport
  .field
    = f.label t('altitude')
    = number_field_tag 'resort[altitude_top]', @resort.altitude_top
    = number_field_tag 'resort[altitude_bottom]', @resort.altitude_bottom
  .field
    = f.label t('drop')
    = number_field_tag 'resort[drop]', @resort.drop
  .field
    = f.label t('terrain')
    = number_field_tag 'resort[terrain]', @resort.terrain
  .field
    = f.label t('lifts')
    = number_field_tag 'resort[lifts]', @resort.lifts
  .field
    = f.label t('slopes')
    = f.text_field :slopes
  .field
    = f.label :level1_description
    = f.text_area :level1_description
  .actions
    = f.submit