%li
  =link_to image_tag(resort.image_url(:thumb).to_s), resort_path(resort), :class => 'img-wrap'
  .details
    %p.name=link_to resort.name, resort_path(resort)
    -if @resort.gallery_images.all.count.zero?
      %span.drop{:title=> t('drop')}
        = print_with_meters(resort.drop,t('meters'))
    -else
      %span.pics-amount{:title=> t('picsAmount')}
        = @resort.gallery_images.all.count.to_s
    -if !strip_tags(resort.level1_description)[0..200].blank?
      %p
        = strip_tags(resort.level1_description)[0..200].html_safe
        =link_to t('readMore'), resort_path(resort)
  -if can? :resort, :update
    = link_to t('edit'), edit_resort_path(resort)
  -if can? :resort, :delete
    = link_to 'Destroy', resort, method: :delete, data: { confirm: 'Are you sure?' }
  .clear