%section.content
  .main-content
    .heading
      %h2 Estacoes: Chile
    .introtext
      Aqui nos postamos todos os lugares nas proximidades do Brasil, e mais longe,
      onde voce pode practicar snowboard e ski, damos tbm algumas informações adicionais sobre alojamento, transporte e ski tickets (telefericos).
    - if current_user && current_user.forem_admin?
      = link_to 'New Resort', new_resort_path
    .clear
    %ul.stations-list
      - @resorts.each do |resort|
        %li
          = link_to (image_tag resort.image_url(:thumb).to_s ), resort, :class => 'img-wrap'
          .details
            %p.name= resort.name
            %a.pics-amount{:href => "#"} 0
            %p= resort.level1_description
          .clear
          - if current_user && current_user.forem_admin?
            .control
              = link_to 'Edit', edit_resort_path(resort)
              = link_to 'Destroy', resort, method: :delete, data: { confirm: 'Are you sure?' }
      = will_paginate @resorts
    .clear
  / end main-content
  %aside
    #ficConn
    .heading
      %h2 Instagram
    / SnapWidget 3*3 aside
    %iframe.snapwidget-widget{:allowtransparency => "true", :frameborder => "0", :scrolling => "no", :src => "http://snapwidget.com/in/?u=em9uYXJhZGljYWxicnxpbnw4N3wzfDN8fHllc3w1fG5vbmV8b25TdGFydHx5ZXN8bm8=&ve=230814", :style => "border:none; overflow:hidden; width:306px; height:306px", :title => "Instagram Widget"}
    .clear
    .heading
      %h2 Facebook
    / <div class="fb-block"></div>
    .fb-like-box{"data-colorscheme" => "light", "data-header" => "true", "data-href" => "https://www.facebook.com/zonaradicalbrasil", "data-show-border" => "true", "data-show-faces" => "true", "data-stream" => "false", "data-width" => "303"}
    .clear
    .heading
      %h2 Eventos
    .advert-block
      %img{:alt => "", :src => "images/advert-img.jpg"}/
  .clear