.main-content
  .heading
    %h2
      = t('resorts')
      \: #{@resort.resort_category.name}
  .resort-card
    .leftcol
      = image_tag @resort.image_url(:thumb).to_s, :class => :resortlogo
      %ul.details-list
        %li.contacts
          .contacts-list
            %span.web= link_to @resort.web[0..40], @resort.web, :target => '_blank'
            %span.fb= link_to @resort.fb[0..40], @resort.fb, :target => '_blank'
          .clear
    .rightcol
      .title
        %span.name= @resort.name
      %ul.details-list
        %li.details
          .details-list
            %span.air{:title=> t('airport')}
              =print_with_meters(@resort.airport,'')
            %span.pic-base{:title=> t('altitude')}
              =print_pic_base(@resort.altitude_top,@resort.altitude_bottom,t('meters'))
            %span.drop{:title=> t('drop')}
              =print_with_meters(@resort.drop,t('meters'))
            %span.pic-base{:title=> t('terrain')}
              =print_with_meters(@resort.terrain,t('hectars'))
            %span.lifts{:title=> t('lifts')}
              =print_with_meters(@resort.lifts,'lifts')
            %span.slopes{:title=> t('slopes')}
              =@resort.slopes
            %span.map{:title=> t('slopeMap')}
              = link_to @resort.map_url[0..40], @resort.map_url, :target => '_blank'
          .clear
    .clear
    %p.descr
      %b
        = t('ourtake')
        \:
      = @resort.level1_description.html_safe unless @resort.level1_description.nil?

    -if @resort.resort_gallery_images.all.count
      .slider-field
        .index-slider
          -@resort.resort_gallery_images.all.each do |image|
            .slide
              = image_tag image.image_url(:slider).to_s
              -unless image.description.blank?
                %p=image.description
            %span.tag
              = @resort.name
              fotos
      .clear
    - if can? :resort, :update
      = link_to t('edit'), edit_resort_path(@resort)
      |
      \#{link_to 'Back', resorts_path}

-content_for :aside do
  %aside
    =render 'shared/aside/aside_social_buttons'
    =render 'shared/aside/aside_resort_category', :resort_category => @resort.resort_category
    =render 'shared/aside/aside_advert'
    =render 'shared/aside/aside_resort_gallery'
    =render 'shared/aside/aside_fb_like_box'
  .clear