%section.content
  .main-content
    .heading
      %h2
        = t('resorts')
        \: #{@resort.name}
    .resort-card
      .leftcol
        = image_tag @resort.image_url(:thumb).to_s, :class => :resortlogo
        %ul.details-list
          %li.contacts
            .contacts-list
              %span.web= link_to @resort.web, @resort.web
              %span.web= link_to @resort.fb, @resort.fb
            .clear
      .rightcol
        .title
          %span.name= @resort.name
        %ul.details-list
          %li
            %b
              = t('airport')
              \:
            %span
          %li
            %b
              = t('altitude')
              \:
            %span 27
          %li
            %b
              = t('drop')
              \:
            %span Masculino
          %li
            %b
              = t('terrain')
              \:
            %span
          %li
            %b
              = t('lifts')
              \:
            %span
          %li
            %b
              = t('slopes')
              \:
            (inic/interm/experto):
            %span
      .clear
      %p.descr
        %b
          = t('ourtake')
          \:
        = @resort.level1_description
      .buttons
        = link_to t('linkToResortWeb'), @resort.web, :class => :button
        = link_to t('linkToResortMap'), @resort.fb, :class => :button
        .clear
      - if current_user && current_user.forem_admin?
        = link_to 'Edit', edit_resort_path(@resort)
        |
        \#{link_to 'Back', resorts_path}
    / end resort-card
  %aside
    .heading
      %h2 Fique conectado
    %ul.social-buttons
      %li
        %a.fb{:href => "#"}
      %li
        %a.yt{:href => "#"}
      %li
        %a.tw{:href => "#"}
      %li
        %a.gp{:href => "#"}
      %li
        %a.rss{:href => "#"}
    .heading
      %h2 Estações
    %ul.categories
      %li
        %a{:href => "#"}
          All
          %span (53)
      %li
        %a.active{:href => "#"}
          Argentina
          %span >>
          %span Valle Nevado
      %li
        %a{:href => "#"}
          Chile
          %span (3)
      %li
        %a{:href => "#"}
          Peru
          %span (6)
    .heading
      %h2 Lugares: Valle Nevado
      %a.all{:href => "#"} Tudo
    %ul.places-list
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "images/places-1.jpg"}/
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "images/places-2.jpg"}/
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "images/places-3.jpg"}/
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "images/places-4.jpg"}/
    .heading
      %h2 Facebook
    .fb-block
      %img{:alt => "", :src => "images/fb-block.jpg"}/
    .advert-block
      %img{:alt => "", :src => "images/advert-img.jpg"}/
  .clear