.main-content
  .heading
    %h2
      = t('resorts')
      \: #{@resort.resort_category.name}: #{@resort.name}
  .resort-card
    .leftcol
      = image_tag @resort.image_url(:thumb).to_s, :class => :resortlogo
      %ul.details-list
        %li.contacts
          .contacts-list
            %span.web= link_to @resort.web, @resort.web
            %span.fb= link_to @resort.fb, @resort.fb
          .clear
    .rightcol
      .title
        %span.name= @resort.name
      %ul.details-list
        %li
          %b
            = t('airport')
            \:
            =@resort.airport
          %span
        %li
          %b
            = t('altitude')
            \:
            =@resort.altitude_top
            \-
            =@resort.altitude_bottom
            \=
            = @resort.altitude_top.to_f-@resort.altitude_bottom.to_f
        %li
          %b
            = t('drop')
            \:
            =@resort.drop
        %li
          %b
            = t('terrain')
            \:
            =@resort.terrain
          %span
        %li
          %b
            = t('lifts')
            \:
            =@resort.lifts
          %span.lifts
        %li
          %b
            = t('slopes')
            (inic/interm/experto)
            \:
            =@resort.slopes
          %span
    .clear
    %p.descr
      %b
        = t('ourtake')
        \:
      = @resort.level1_description.html_safe unless @resort.level1_description.nil?
    .buttons
      = link_to t('linkToResortWeb'), @resort.web, :class => :button, :target => '_blank'
      = link_to t('linkToResortMap'), @resort.map_url, :class => :button, :target => '_blank'
      .clear
    - if current_user && current_user.forem_admin?
      = link_to 'Edit', edit_resort_path(@resort)
      |
      \#{link_to 'Back', resorts_path}

-content_for :aside do
  %aside
    .heading
      %h2 Fique conectado
    %ul.social-buttons
      %li
        %a.fb{:href => "#"}
      %li
        %a.yt{:href => "#"}
      %li
        %a.tw{:href => "#"}
      %li
        %a.gp{:href => "#"}
      %li
        %a.rss{:href => "#"}
    .heading
      %h2 Estações
    %ul.categories
      %li
        =link_to resorts_path  do
          All
          %span='(' + Resort.all.size.to_s + ')'
      %li
        =aside_resort_categories @resort.resort_category
    .heading
      %h2 Lugares: Valle Nevado
      %a.all{:href => "#"} Tudo
    %ul.places-list
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "images/places-1.jpg"}/
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "images/places-2.jpg"}/
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "images/places-3.jpg"}/
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "images/places-4.jpg"}/
    .heading
      %h2 Facebook
    .fb-block
      %img{:alt => "", :src => "images/fb-block.jpg"}/
    .advert-block
      %img{:alt => "", :src => "images/advert-img.jpg"}/
  .clear