.main-content{:itemscope => true, :itemtype => "http://schema.org/SkiResort"}
  -content_for :for_head do
    /* general METAS
    %title #{@resort.name} | Estações de Ski | Zona Radical
    %meta{:name => "description", :content =>  strip_tags(@resort.level1_description.to_s)}

    /* facebook METAS
    %meta{:property=>"og:type", :content =>"article"}
    %meta{:property=> "og:description", :content =>   strip_tags(@resort.level1_description.to_s)}
    %meta{:property=>"og:title", :content => "Estações de Ski: " +@resort.name+" | "+@resort.resort_category.name.to_s}
    %meta{:property=>"og:url", :content => request.original_url.to_s}
    %meta{:property=> "og:image", :content=> @resort.image_url(:extra_big_thumb).to_s}
    -unless @resort.gallery_images.all.count.zero?
      -@resort.gallery_images[0..3].each do |image|
        %meta{:property=> "og:image", :content=> image.image_url(:slider).to_s}
  .heading
    /* schema.org METAS
    /%meta{:itemprop=>"name", :content => @resort.name}
    %meta{:itemprop=>"logo", :content => @resort.image_url(:extra_big_thumb).to_s}
    %meta{:itemprop=>"location", :content => @resort.resort_category.name.to_s}
    /* %meta{:itemprop=>"hasMap", :content => @resort.map_url}
    -unless @resort.gallery_images.all.count.zero?
      -@resort.gallery_images[0..3].each do |image|
        %meta{:itemprop=> "photo", :content=> image.image_url(:slider).to_s}
    %meta{:itemprop=>"review", :content => strip_tags(@resort.level1_description)}
    %meta{:itemprop=>"priceRange", :content => "average"}
    %meta{:itemprop=>"url", :content => request.original_url.to_s}
    %meta{:itemprop=>"address", :content => @resort.airport}
    %meta{:itemprop=>"isicV4", :content => "8329"}
    %h1
      = t('resorts')
      \:
      %span{:itemprop=>"containedIn"}
        #{@resort.resort_category.name}
  .resort-card
    .leftcol
      = resort_logo_img(@resort)
      %ul.details-list
        %li.contacts
          .contacts-list
            %span.web= link_to cut_phrase(@resort.web,33), @resort.web, :target => '_blank'
            %span.fb= link_to cut_phrase(@resort.fb,33), @resort.fb, :target => '_blank'
          .clear
    .rightcol
      .h2{:itemprop=>"name"}
        /* %span.name
        = @resort.name
        .fb-like{"data-href"=> request.original_url.to_s, "data-layout"=>"button", "data-action"=>"like", "data-show-faces"=>"true", "data-share"=>"true", :style => "float: right;"}
      %ul.details-list
        %li.details
          .details-list
            %span.air{:title=> t('airport')}
              =print_with_meters(@resort.airport,'')
            %span.pic-base{:title=> t('altitude')}
              =print_pic_base(@resort.altitude_top,@resort.altitude_bottom,t('meters'))
            %span.drop{:title=> t('drop')}
              =print_with_meters(@resort.drop,t('meters'))
            %span.pic-base{:title=> t('terrain')}
              =print_with_meters(@resort.terrain,t('hectars'))
            %span.lifts{:title=> t('lifts')}
              =print_with_meters(@resort.lifts,'lifts')
            %span.slopes{:title=> t('slopes')}
              =@resort.slopes
            %span.map{:title=> t('slopeMap')}
              = link_to cut_phrase(@resort.map_url,45), @resort.map_url, :target => '_blank'
          .clear
    .clear
    -unless @resort.level1_description.nil?
      %p.descr{:itemprop=>"review"}
        %b
          = t('ourtake')
          \:
        = @resort.level1_description.html_safe
    %div{:style=>"text-align: center"}
      -unless @resort.gallery_images.all.count.zero?
        =render 'shared/sliders/resort_gal', images: @resort.gallery_images.all, name: @resort.name
        .clear
    - if can? :resort, :update
      = link_to t('edit'), edit_resort_path(@resort)
      |
      \#{link_to 'Back', resorts_path}

-content_for :aside do
  %aside
    =render 'shared/aside/aside_social_buttons'
    =render 'shared/aside/aside_resort_category', :resort_category => @resort.resort_category
    =render 'shared/aside/aside_advert'
    =render 'shared/aside/aside_resort_gallery'
    =render 'shared/aside/aside_fb_like_box'
  .clear
