.main-content
  .heading
    %h2
      = t('resorts')
      \: #{@resort.resort_category.name}
  .resort-card
    .leftcol
      = image_tag @resort.image_url(:thumb).to_s, :class => :resortlogo
      %ul.details-list
        %li.contacts
          .contacts-list
            %span.web= link_to @resort.web, @resort.web, :target => '_blank'
            %span.fb= link_to @resort.fb, @resort.fb, :target => '_blank'
          .clear
    .rightcol
      .title
        %span.name= @resort.name
      %ul.details-list
        %li
          =image_tag 'air-icon.png', :title => 'airport'
          %b
            =@resort.airport
        %li
          = image_tag "pics-base-icon.png", :title => t('altitude')
          %b
            =@resort.altitude_top
            \-
            =@resort.altitude_bottom
            =t('meters')
        %li
          =image_tag "drop-icon.png", :title => t('drop')
          %b
            =@resort.drop
            =t('meters')
        %li
          =image_tag "pics-base-icon.png", :title => t('terrain')
          %b
            =@resort.terrain
            =t('hectars')
        %li
          =image_tag "lifts-icon.png", :title => t('lifts')
          %b
            =@resort.lifts
        %li
          = t('slopes')
          \:
          %b
            =@resort.slopes
          %span
    .clear
    %p.descr
      %b
        = t('ourtake')
        \:
      = @resort.level1_description.html_safe unless @resort.level1_description.nil?
    .buttons
      = link_to t('linkToResortWeb'), @resort.web, :class => :button, :target => '_blank'
      = link_to t('linkToResortMap'), @resort.map_url, :class => :button, :target => '_blank'
      .clear
    - if current_user && current_user.forem_admin?
      = link_to t('edit'), edit_resort_path(@resort)
      |
      \#{link_to 'Back', resorts_path}

-content_for :aside do
  %aside
    =render 'shared/aside/aside_social_buttons'
    =render 'shared/aside/aside_resort_category', :resort_category => @resort.resort_category
    =render 'shared/aside/aside_fb_like_box'
    =render 'shared/aside/aside_advert'
    =render 'shared/aside/aside_resort_gallery'
  .clear