= form_for(@tip, :html => {:multipart => true, :class => 'admin-form'}) do |f|
  - if @tip.errors.any?
    #error_explanation
      %h1
        = pluralize(@tip.errors.count, "error")
        prohibited this tip from being saved:
      %ul
        - @tip.errors.full_messages.each do |message|
          %li= message
  .actions
    = f.submit
  .field
    = f.label :title
    = f.text_field :title, data: { url: slug_tips_path }
  .field
    = f.label :slug
    = f.text_field :slug
  .field
    = f.label :category
    = f.select(:tip_category_id, TipCategory.all.collect { |tip_category| [tip_category.name, tip_category.id] })
  .field
    minimal image 368*210
    = image_tag @tip.image_url(:thumb).to_s
    = f.label :image
    = f.file_field :image
    = f.check_box :remove_image
  .field
    = f.label :short_description
    = f.text_field :short_description

  .field
    = f.label :level1_description
    = f.text_area :level1_description, :class => 'froala', :rows => 40, :cols => 120
  .field
    = f.label :level2_description
    = f.text_area :level2_description, :class => 'froala', :rows => 40, :cols => 120
  .field
    = f.label :level3_description
    = f.text_area :level3_description, :class => 'froala', :rows => 40, :cols => 120
  = render 'shared/image_gallery_form_tips', f: f, media: @tip
  .actions
    = f.submit
