= form_for(@tip, :html => {:multipart => true, :class => 'admin-form'}) do |f|
  - if @tip.errors.any?
    #error_explanation
      %h2
        = pluralize(@tip.errors.count, "error")
        prohibited this tip from being saved:
      %ul
        - @tip.errors.full_messages.each do |message|
          %li= message
  .actions
    = f.submit
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :category
    = f.select(:tip_category_id, nested_dropdown(TipCategory.all.arrange))
  .field
    = image_tag @tip.image_url(:thumb).to_s
    = f.label :image
    = f.file_field :image
    = f.check_box :remove_image
  .field
    = f.label :short_description
    = f.text_field :short_description

  .field
    = f.label :level1_description
    = f.text_area :level1_description, :class => 'tinymce', :rows => 40, :cols => 120
  .field
    = f.label :level2_description
    = f.text_area :level2_description, :class => 'tinymce', :rows => 40, :cols => 120
  .field
    = f.label :level3_description
    = f.text_area :level3_description, :class => 'tinymce', :rows => 40, :cols => 120
  %h3 Gallery
  %ul
  -unless @tip.gallery_images.all.count.zero?
    -@tip.gallery_images.all.each do |image|
      %li
        = image_tag image.image_url(:thumb).to_s
        = text_field_tag "gallery_images[name][#{image.id}]", image.name, {placeholder: 'name'}
        = text_field_tag "gallery_images[url][#{image.id}]", image.url, {placeholder: 'url'}
        = text_area_tag "gallery_images[description][#{image.id}]", image.description, size: '30x5'
        = check_box_tag "gallery_images[remove_image][#{image.id}]"
  .field
    = f.label :add_gallery_images
    = f.file_field :add_gallery_images, :multiple => true, name: 'gallery_images[images][]'
  .actions
    = f.submit

= tinymce_assets
= tinymce