.main-content{:itemscope => true, :itemtype => "http://schema.org/Article"}
  -content_for :for_head do
    /* general METAS
    %title Dicas de Snowboard: #{@tip.title}
    %meta{:name => "description", :content =>  @tip.short_description.to_s}
    /* facebook METAS
    %meta{:property=>"og:type", :content =>"article"}
    %meta{:property=>"og:description", :content =>  @tip.short_description.to_s}
    %meta{:property=>"og:title", :content => "ZR Dicas: "+@tip.title}
    %meta{:property=>"og:url", :content => request.original_url.to_s}
    %meta{:property=> "og:image", :content=> @tip.image_url(:extra_big_thumb).to_s}
    -unless @tip.gallery_images.all.count.zero?
      -@tip.gallery_images[0..3].each do |image|
        %meta{:property=> "og:image", :content=> image.image_url(:slider).to_s}
    /* schema.org METAS
    %meta{:itemprop=>"author", :content =>"Zona Radical"}
  .heading
    %meta{:itemprop=>"description", :content => @tip.short_description.to_s}
    / @todo Adding (!) separate keywords set for every material
    / %meta{:itemprop=>"keywords", :content => "snowboard, snowboarding"}
    %meta{:itemprop=>"url", :content => request.original_url.to_s}
    %meta{:itemprop=>"image", :content=> @tip.image_url(:big_thumb).to_s}
    %h1
      %span{:itemprop=>"articleSection"}
        =t('tips')
      \:
      %span{:itemprop=>"about"}
        #{@tip.tip_category.name}
  %article
    %h2{:itemprop=>"headline"}
      =@tip.title
    %i.extra-info
      =distance_of_time_in_words_to_now @tip.updated_at
      = t('ago')
      ='/ 0 Comentários / Marcações:  Snowboard, Viagem, Montanhas'
      .fb-like{"data-href"=> request.original_url.to_s, "data-layout"=>"button", "data-action"=>"like", "data-show-faces"=>"true", "data-share"=>"true", :style => "float: right;"}
    %div#tabs
      %ul.levels
        -if !@tip.level1_description.blank? and !@tip.level2_description.blank?
          %li
            %a{:href => '#tab_level1'}
              %span Nivel 1
        -if !@tip.level2_description.blank?
          %li
            %a{:href => '#tab_level2'}
              %span Nivel 2
        -if !@tip.level3_description.blank?
          %li
            %a{:href => '#tab_level3'}
              %span Nivel 3
      / end levels buttons
      -if !@tip.level1_description.to_s.blank?
        %div#tab_level1
          =image_tag(@tip.image_url(:big_thumb).to_s, class: 'med-img', itemprop: "image")
          %div{:itemprop=>"articleBody"}
            =@tip.level1_description.html_safe unless @tip.level1_description.blank?

      -if !@tip.level2_description.to_s.blank?
        %div#tab_level2
          =@tip.level2_description.html_safe unless @tip.level2_description.blank?

      -if !@tip.level3_description.to_s.blank?
        %div#tab_level3
          =@tip.level3_description.html_safe unless @tip.level3_description.blank?
    -unless @tip.gallery_images.all.count.zero?
      =render 'shared/sliders/tip', images: @tip.gallery_images.all
    .clear
    - if can? :tip, :update
      = link_to t('edit'), edit_tip_path(@tip)
      |
      \#{link_to 'Back', tips_path}
  .heading
/ end main-content

-content_for :aside do
  %aside
    =render 'shared/aside/aside_social_buttons'
    =render 'shared/aside/aside_tip_category', :tip_category => @tip.tip_category
    =render 'shared/aside/aside_fb_like_box'
    =render 'shared/aside/aside_advert'
    =render 'shared/aside/aside_resort_gallery'
  .clear