<header>
    <div class="inner">
      <%= link_to image_tag('logo.png'), main_app.root_path, class: :logo %>
      <div class="enter-block">
        <%- if user_signed_in? %>
            <div class="registered">
              <span><%= t('hello')%>, <%= link_to current_user.name, main_app.user_profile_path(current_user.id) %> / </span>
              <%= link_to t('signOut'), main_app.destroy_user_session_path, :class => 'exit-link', :method => :delete %>
            </div>
        <%- else %>
            <div class="non-registered">
              <%- if controller_name != 'sessions' %>
                  <%= link_to t('signIn'), main_app.new_session_path(:user), :class => 'login' %>
                  <%= link_to main_app.omniauth_authorize_path(:user, 'facebook'), :class => 'login' do %>
                      <span class="fb"></span>
                  <% end %>
                  <%= link_to main_app.omniauth_authorize_path(:user, 'twitter'), :class => 'login' do %>
                      <span class="tw"></span>
                  <% end %>
                  <span> / </span>
                  <%= link_to t('Sign up'), main_app.new_registration_path(:user) %><br />
              <% end -%>
            </div>
        <% end %>
      </div>
      <nav>
        <ul class="menu">
          <li><%= link_to t('Home'), main_app.root_path %></li>
          <li><a href="list-estacoes.html">Estações</a></li>
          <!-- <li class="submenu-item">
              <a href="#">Estações</a>
              <ul class="submenu">
                  <li><a href="#">texto português-1</a></li>
                  <li class="subsubmenu-item">
                      <a href="#">texto português-2</a>
                      <ul class="subsubmenu">
                          <li><a href="#">texto -1</a></li>
                          <li><a href="#">texto -2</a></li>
                      </ul>
                  </li>
                  <li><a href="#">texto português-3</a></li>
                  <li><a href="#">texto português-4</a></li>
              </ul>
          </li> -->
          <li><a href="list-dicas.html">Dicas</a></li>
          <li><a href="#">Trips</a></li>
          <li><a href="vamo-junto.html">Vamo junto</a></li>
          <li><%= link_to t('forum'), 'forum' %></li>
          <li><a href="galera.html">Galera <span>ZR</span></a></li>
        </ul>
        <div class="search-field"><input type="text" placeholder="Pesquisa" /><a href="#"></a></div>
      </nav>
    </div>
</header>