<!DOCTYPE html>
<html lang="en">
<head>
  <title>ZonaRadical</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&appId=1410728445875629&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  <%= render 'layouts/header' %>

  <% flash.each do |key, value| %>
      <% if key == 'alert' %>
          <div class="alert alert-danger"><%= value %></div>
      <% else %>
          <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
  <% end %>
  <%= yield %>
  <%= render 'layouts/footer' %>

  <a href="#" class="to-top"></a>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
