<!DOCTYPE html>
<html lang="en">
<head>
  <title>ZonaRadical</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script type="text/javascript" src="js/inclusions.js"></script>
</head>

<body>
  <%= render 'layouts/header' %>

  <% flash.each do |key, value| %>
      <% if key == 'alert' %>
          <div class="alert alert-danger"><%= value %></div>
      <% else %>
          <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
  <% end %>
  <%= yield %>
  <%= render 'layouts/footer' %>

  <a href="#" class="to-top"></a>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= render 'layouts/analytics' %>

</body>
</html>
