!!!
%html{:lang => "en", :prefix =>"og: http://ogp.me/ns#"}
  %head
    %meta{:property=>"fb:admins", :content=>"1646785799"}
    %meta{:property=>"og:site_name", :content =>"Zona Radical"}
    %meta{:name => "keywords",
      :content => "snowboard, snowboarding, Brasil, Brazil, ski, prancha, montanha, escola de snowboard, praticar snowboard, aprender snowboard, estações de ski, tudo sobre equipo, Alpes"}
    %meta{:itemprop=>"keywords", :content => "snowboard, snowboarding, Brasil, Brazil, ski, prancha, montanha, escola de snowboard, praticar snowboard, aprender snowboard, estações de ski, tudo sobre equipo, Alpes"}
    -if content_for? :for_head
      = yield :for_head
    -else
      %title Snowboard com Zona Radical: como aprender, praticar e apreciar
      %meta{:name => "description",
        :content => "Junto apreciamos snowboard - o melhor esporte da neve! Aki temos tudo - noticias, guia das estações de ski, dicas, forum."}
      %meta{:property=> "og:description", :content => "Junto apreciamos snowboard - o melhor esporte da neve! Aki temos tudo - noticias, guia das estações de ski, dicas, forum."}
      %meta{:property=>"og:title", :content => "Zona Radical Snowboard: como aprender, praticar e apreciar"}
      %meta{:property=>"og:url", :content => "http://zonaradical.com.br"}
      %meta{:property=> "og:image", :content=> "http://zonaradical.com.br/images/slide-1.jpg"}
      %meta{:property=>"og:type", :content =>"website"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    params[:controller], media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body
    = render 'layouts/header'
    -if content_for? :top_section
      %section.top-section= content_for :top_section
    %section.content
      = yield
      -if content_for? :aside
        %aside= content_for :aside
        .clear
    = render 'layouts/footer'
    %a.to-top{:href => "#"}
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag params[:controller], 'data-turbolinks-track' => true
    = render 'layouts/analytics'